/* google fonts import */
/* inter-font */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
/* Lora font */
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
/* space mono font */
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
.bg-red-100 {
  background-color: #f7d0d0;
}

.bg-red-200 {
  background-color: #efa0a0;
}

.bg-red-300 {
  background-color: #e77171;
}

.bg-red-400 {
  background-color: #df4141;
}

.bg-red-500 {
  background-color: #c82121;
}

.bg-red-600 {
  background-color: #aa1010;
}

.bg-red-700 {
  background-color: #800c0c;
}

.bg-red-800 {
  background-color: #550808;
}

.bg-red-900 {
  background-color: #2b0404;
}

.bg-orange-100 {
  background-color: #ffe1cc;
}

.bg-orange-200 {
  background-color: #ffc399;
}

.bg-orange-300 {
  background-color: #ffa566;
}

.bg-orange-400 {
  background-color: #ff8733;
}

.bg-orange-500 {
  background-color: #ff6900;
}

.bg-orange-600 {
  background-color: #cc5400;
}

.bg-orange-700 {
  background-color: #993f00;
}

.bg-orange-800 {
  background-color: #662a00;
}

.bg-orange-900 {
  background-color: #331500;
}

.bg-yellow-100 {
  background-color: #fdf4cf;
}

.bg-yellow-200 {
  background-color: #fbe7a0;
}

.bg-yellow-300 {
  background-color: #f7dc70;
}

.bg-yellow-400 {
  background-color: #f5cf40;
}

.bg-yellow-500 {
  background-color: #e5bc1e;
}

.bg-yellow-600 {
  background-color: #c29d0d;
}

.bg-yellow-700 {
  background-color: #927609;
}

.bg-yellow-800 {
  background-color: #624e06;
}

.bg-yellow-900 {
  background-color: #312803;
}

.bg-lime-100 {
  background-color: #d1f3d0;
}

.bg-lime-200 {
  background-color: #a3e8a2;
}

.bg-lime-300 {
  background-color: #76dd72;
}

.bg-lime-400 {
  background-color: #48d244;
}

.bg-lime-500 {
  background-color: #29b625;
}

.bg-lime-600 {
  background-color: #189c14;
}

.bg-lime-700 {
  background-color: #12740f;
}

.bg-lime-800 {
  background-color: #0b4e0a;
}

.bg-lime-900 {
  background-color: #062605;
}

.bg-green-100 {
  background-color: #c8eedf;
}

.bg-green-200 {
  background-color: #91ddbd;
}

.bg-green-300 {
  background-color: #5acd9d;
}

.bg-green-400 {
  background-color: #27b87b;
}

.bg-green-500 {
  background-color: #009758;
}

.bg-green-600 {
  background-color: #007946;
}

.bg-green-700 {
  background-color: #005b35;
}

.bg-green-800 {
  background-color: #003c23;
}

.bg-green-900 {
  background-color: #001e12;
}

.bg-aqua-100 {
  background-color: #cff2f7;
}

.bg-aqua-200 {
  background-color: #9fe7ee;
}

.bg-aqua-300 {
  background-color: #70dae6;
}

.bg-aqua-400 {
  background-color: #40cfdd;
}

.bg-aqua-500 {
  background-color: #1fb6c6;
}

.bg-aqua-600 {
  background-color: #0f9aa8;
}

.bg-aqua-700 {
  background-color: #0b737f;
}

.bg-aqua-800 {
  background-color: #074d54;
}

.bg-aqua-900 {
  background-color: #03262b;
}

.bg-blue-100 {
  background-color: #d7e0ff;
}

.bg-blue-200 {
  background-color: #afc1ff;
}

.bg-blue-300 {
  background-color: #87a1ff;
}

.bg-blue-400 {
  background-color: #5f82ff;
}

.bg-blue-500 {
  background-color: #3763ff;
}

.bg-blue-600 {
  background-color: #1e47da;
}

.bg-blue-700 {
  background-color: #1735a3;
}

.bg-blue-800 {
  background-color: #0f246d;
}

.bg-blue-900 {
  background-color: #081236;
}

.bg-purple-100 {
  background-color: #e8d7ff;
}

.bg-purple-200 {
  background-color: #d2aeff;
}

.bg-purple-300 {
  background-color: #bb86ff;
}

.bg-purple-400 {
  background-color: #a55dff;
}

.bg-purple-500 {
  background-color: #8e35ff;
}

.bg-purple-600 {
  background-color: #701cda;
}

.bg-purple-700 {
  background-color: #5416a3;
}

.bg-purple-800 {
  background-color: #380e6d;
}

.bg-purple-900 {
  background-color: #1b0836;
}

.bg-blueish-grey-100 {
  background-color: #ced7dd;
}

.bg-blueish-grey-200 {
  background-color: #9dafbb;
}

.bg-blueish-grey-300 {
  background-color: #6c8499;
}

.bg-blueish-grey-400 {
  background-color: #435b6f;
}

.bg-blueish-grey-500 {
  background-color: #21313E;
}

.bg-blueish-grey-600 {
  background-color: #162736;
}

.bg-blueish-grey-700 {
  background-color: #111d28;
}

.bg-blueish-grey-800 {
  background-color: #0b141b;
}

.bg-blueish-grey-900 {
  background-color: #060a0d;
}

.bg-neutral-grey-100 {
  background-color: #e4dede;
}

.bg-neutral-grey-200 {
  background-color: #cabcbc;
}

.bg-neutral-grey-300 {
  background-color: #af9b9b;
}

.bg-neutral-grey-400 {
  background-color: #947a7a;
}

.bg-neutral-grey-500 {
  background-color: #696969;
}

.bg-neutral-grey-600 {
  background-color: #5d4b4b;
}

.bg-neutral-grey-700 {
  background-color: #463838;
}

.bg-neutral-grey-800 {
  background-color: #2f2525;
}

.bg-neutral-grey-900 {
  background-color: #171313;
}

.text-red-100 {
  color: #f7d0d0;
}

.text-red-200 {
  color: #efa0a0;
}

.text-red-300 {
  color: #e77171;
}

.text-red-400 {
  color: #df4141;
}

.text-red-500 {
  color: #c82121;
}

.text-red-600 {
  color: #aa1010;
}

.text-red-700 {
  color: #800c0c;
}

.text-red-800 {
  color: #550808;
}

.text-red-900 {
  color: #2b0404;
}

.text-orange-100 {
  color: #ffe1cc;
}

.text-orange-200 {
  color: #ffc399;
}

.text-orange-300 {
  color: #ffa566;
}

.text-orange-400 {
  color: #ff8733;
}

.text-orange-500 {
  color: #ff6900;
}

.text-orange-600 {
  color: #cc5400;
}

.text-orange-700 {
  color: #993f00;
}

.text-orange-800 {
  color: #662a00;
}

.text-orange-900 {
  color: #331500;
}

.text-yellow-100 {
  color: #fdf4cf;
}

.text-yellow-200 {
  color: #fbe7a0;
}

.text-yellow-300 {
  color: #f7dc70;
}

.text-yellow-400 {
  color: #f5cf40;
}

.text-yellow-500 {
  color: #e5bc1e;
}

.text-yellow-600 {
  color: #c29d0d;
}

.text-yellow-700 {
  color: #927609;
}

.text-yellow-800 {
  color: #624e06;
}

.text-yellow-900 {
  color: #312803;
}

.text-lime-100 {
  color: #d1f3d0;
}

.text-lime-200 {
  color: #a3e8a2;
}

.text-lime-300 {
  color: #76dd72;
}

.text-lime-400 {
  color: #48d244;
}

.text-lime-500 {
  color: #29b625;
}

.text-lime-600 {
  color: #189c14;
}

.text-lime-700 {
  color: #12740f;
}

.text-lime-800 {
  color: #0b4e0a;
}

.text-lime-900 {
  color: #062605;
}

.text-green-100 {
  color: #c8eedf;
}

.text-green-200 {
  color: #91ddbd;
}

.text-green-300 {
  color: #5acd9d;
}

.text-green-400 {
  color: #27b87b;
}

.text-green-500 {
  color: #009758;
}

.text-green-600 {
  color: #007946;
}

.text-green-700 {
  color: #005b35;
}

.text-green-800 {
  color: #003c23;
}

.text-green-900 {
  color: #001e12;
}

.text-aqua-100 {
  color: #cff2f7;
}

.text-aqua-200 {
  color: #9fe7ee;
}

.text-aqua-300 {
  color: #70dae6;
}

.text-aqua-400 {
  color: #40cfdd;
}

.text-aqua-500 {
  color: #1fb6c6;
}

.text-aqua-600 {
  color: #0f9aa8;
}

.text-aqua-700 {
  color: #0b737f;
}

.text-aqua-800 {
  color: #074d54;
}

.text-aqua-900 {
  color: #03262b;
}

.text-blue-100 {
  color: #d7e0ff;
}

.text-blue-200 {
  color: #afc1ff;
}

.text-blue-300 {
  color: #87a1ff;
}

.text-blue-400 {
  color: #5f82ff;
}

.text-blue-500 {
  color: #3763ff;
}

.text-blue-600 {
  color: #1e47da;
}

.text-blue-700 {
  color: #1735a3;
}

.text-blue-800 {
  color: #0f246d;
}

.text-blue-900 {
  color: #081236;
}

.text-purple-100 {
  color: #e8d7ff;
}

.text-purple-200 {
  color: #d2aeff;
}

.text-purple-300 {
  color: #bb86ff;
}

.text-purple-400 {
  color: #a55dff;
}

.text-purple-500 {
  color: #8e35ff;
}

.text-purple-600 {
  color: #701cda;
}

.text-purple-700 {
  color: #5416a3;
}

.text-purple-800 {
  color: #380e6d;
}

.text-purple-900 {
  color: #1b0836;
}

.text-blueish-grey-100 {
  color: #ced7dd;
}

.text-blueish-grey-200 {
  color: #9dafbb;
}

.text-blueish-grey-300 {
  color: #6c8499;
}

.text-blueish-grey-400 {
  color: #435b6f;
}

.text-blueish-grey-500 {
  color: #21313E;
}

.text-blueish-grey-600 {
  color: #162736;
}

.text-blueish-grey-700 {
  color: #111d28;
}

.text-blueish-grey-800 {
  color: #0b141b;
}

.text-blueish-grey-900 {
  color: #060a0d;
}

.text-neutral-grey-100 {
  color: #e4dede;
}

.text-neutral-grey-200 {
  color: #cabcbc;
}

.text-neutral-grey-300 {
  color: #af9b9b;
}

.text-neutral-grey-400 {
  color: #947a7a;
}

.text-neutral-grey-500 {
  color: #696969;
}

.text-neutral-grey-600 {
  color: #5d4b4b;
}

.text-neutral-grey-700 {
  color: #463838;
}

.text-neutral-grey-800 {
  color: #2f2525;
}

.text-neutral-grey-900 {
  color: #171313;
}

.border-red-100 {
  border-color: #f7d0d0;
}

.border-red-200 {
  border-color: #efa0a0;
}

.border-red-300 {
  border-color: #e77171;
}

.border-red-400 {
  border-color: #df4141;
}

.border-red-500 {
  border-color: #c82121;
}

.border-red-600 {
  border-color: #aa1010;
}

.border-red-700 {
  border-color: #800c0c;
}

.border-red-800 {
  border-color: #550808;
}

.border-red-900 {
  border-color: #2b0404;
}

.border-orange-100 {
  border-color: #ffe1cc;
}

.border-orange-200 {
  border-color: #ffc399;
}

.border-orange-300 {
  border-color: #ffa566;
}

.border-orange-400 {
  border-color: #ff8733;
}

.border-orange-500 {
  border-color: #ff6900;
}

.border-orange-600 {
  border-color: #cc5400;
}

.border-orange-700 {
  border-color: #993f00;
}

.border-orange-800 {
  border-color: #662a00;
}

.border-orange-900 {
  border-color: #331500;
}

.border-yellow-100 {
  border-color: #fdf4cf;
}

.border-yellow-200 {
  border-color: #fbe7a0;
}

.border-yellow-300 {
  border-color: #f7dc70;
}

.border-yellow-400 {
  border-color: #f5cf40;
}

.border-yellow-500 {
  border-color: #e5bc1e;
}

.border-yellow-600 {
  border-color: #c29d0d;
}

.border-yellow-700 {
  border-color: #927609;
}

.border-yellow-800 {
  border-color: #624e06;
}

.border-yellow-900 {
  border-color: #312803;
}

.border-lime-100 {
  border-color: #d1f3d0;
}

.border-lime-200 {
  border-color: #a3e8a2;
}

.border-lime-300 {
  border-color: #76dd72;
}

.border-lime-400 {
  border-color: #48d244;
}

.border-lime-500 {
  border-color: #29b625;
}

.border-lime-600 {
  border-color: #189c14;
}

.border-lime-700 {
  border-color: #12740f;
}

.border-lime-800 {
  border-color: #0b4e0a;
}

.border-lime-900 {
  border-color: #062605;
}

.border-green-100 {
  border-color: #c8eedf;
}

.border-green-200 {
  border-color: #91ddbd;
}

.border-green-300 {
  border-color: #5acd9d;
}

.border-green-400 {
  border-color: #27b87b;
}

.border-green-500 {
  border-color: #009758;
}

.border-green-600 {
  border-color: #007946;
}

.border-green-700 {
  border-color: #005b35;
}

.border-green-800 {
  border-color: #003c23;
}

.border-green-900 {
  border-color: #001e12;
}

.border-aqua-100 {
  border-color: #cff2f7;
}

.border-aqua-200 {
  border-color: #9fe7ee;
}

.border-aqua-300 {
  border-color: #70dae6;
}

.border-aqua-400 {
  border-color: #40cfdd;
}

.border-aqua-500 {
  border-color: #1fb6c6;
}

.border-aqua-600 {
  border-color: #0f9aa8;
}

.border-aqua-700 {
  border-color: #0b737f;
}

.border-aqua-800 {
  border-color: #074d54;
}

.border-aqua-900 {
  border-color: #03262b;
}

.border-blue-100 {
  border-color: #d7e0ff;
}

.border-blue-200 {
  border-color: #afc1ff;
}

.border-blue-300 {
  border-color: #87a1ff;
}

.border-blue-400 {
  border-color: #5f82ff;
}

.border-blue-500 {
  border-color: #3763ff;
}

.border-blue-600 {
  border-color: #1e47da;
}

.border-blue-700 {
  border-color: #1735a3;
}

.border-blue-800 {
  border-color: #0f246d;
}

.border-blue-900 {
  border-color: #081236;
}

.border-purple-100 {
  border-color: #e8d7ff;
}

.border-purple-200 {
  border-color: #d2aeff;
}

.border-purple-300 {
  border-color: #bb86ff;
}

.border-purple-400 {
  border-color: #a55dff;
}

.border-purple-500 {
  border-color: #8e35ff;
}

.border-purple-600 {
  border-color: #701cda;
}

.border-purple-700 {
  border-color: #5416a3;
}

.border-purple-800 {
  border-color: #380e6d;
}

.border-purple-900 {
  border-color: #1b0836;
}

.border-blueish-grey-100 {
  border-color: #ced7dd;
}

.border-blueish-grey-200 {
  border-color: #9dafbb;
}

.border-blueish-grey-300 {
  border-color: #6c8499;
}

.border-blueish-grey-400 {
  border-color: #435b6f;
}

.border-blueish-grey-500 {
  border-color: #21313E;
}

.border-blueish-grey-600 {
  border-color: #162736;
}

.border-blueish-grey-700 {
  border-color: #111d28;
}

.border-blueish-grey-800 {
  border-color: #0b141b;
}

.border-blueish-grey-900 {
  border-color: #060a0d;
}

.border-neutral-grey-100 {
  border-color: #e4dede;
}

.border-neutral-grey-200 {
  border-color: #cabcbc;
}

.border-neutral-grey-300 {
  border-color: #af9b9b;
}

.border-neutral-grey-400 {
  border-color: #947a7a;
}

.border-neutral-grey-500 {
  border-color: #696969;
}

.border-neutral-grey-600 {
  border-color: #5d4b4b;
}

.border-neutral-grey-700 {
  border-color: #463838;
}

.border-neutral-grey-800 {
  border-color: #2f2525;
}

.border-neutral-grey-900 {
  border-color: #171313;
}

.fill-red-100 {
  fill: #f7d0d0;
}

.fill-red-200 {
  fill: #efa0a0;
}

.fill-red-300 {
  fill: #e77171;
}

.fill-red-400 {
  fill: #df4141;
}

.fill-red-500 {
  fill: #c82121;
}

.fill-red-600 {
  fill: #aa1010;
}

.fill-red-700 {
  fill: #800c0c;
}

.fill-red-800 {
  fill: #550808;
}

.fill-red-900 {
  fill: #2b0404;
}

.fill-orange-100 {
  fill: #ffe1cc;
}

.fill-orange-200 {
  fill: #ffc399;
}

.fill-orange-300 {
  fill: #ffa566;
}

.fill-orange-400 {
  fill: #ff8733;
}

.fill-orange-500 {
  fill: #ff6900;
}

.fill-orange-600 {
  fill: #cc5400;
}

.fill-orange-700 {
  fill: #993f00;
}

.fill-orange-800 {
  fill: #662a00;
}

.fill-orange-900 {
  fill: #331500;
}

.fill-yellow-100 {
  fill: #fdf4cf;
}

.fill-yellow-200 {
  fill: #fbe7a0;
}

.fill-yellow-300 {
  fill: #f7dc70;
}

.fill-yellow-400 {
  fill: #f5cf40;
}

.fill-yellow-500 {
  fill: #e5bc1e;
}

.fill-yellow-600 {
  fill: #c29d0d;
}

.fill-yellow-700 {
  fill: #927609;
}

.fill-yellow-800 {
  fill: #624e06;
}

.fill-yellow-900 {
  fill: #312803;
}

.fill-lime-100 {
  fill: #d1f3d0;
}

.fill-lime-200 {
  fill: #a3e8a2;
}

.fill-lime-300 {
  fill: #76dd72;
}

.fill-lime-400 {
  fill: #48d244;
}

.fill-lime-500 {
  fill: #29b625;
}

.fill-lime-600 {
  fill: #189c14;
}

.fill-lime-700 {
  fill: #12740f;
}

.fill-lime-800 {
  fill: #0b4e0a;
}

.fill-lime-900 {
  fill: #062605;
}

.fill-green-100 {
  fill: #c8eedf;
}

.fill-green-200 {
  fill: #91ddbd;
}

.fill-green-300 {
  fill: #5acd9d;
}

.fill-green-400 {
  fill: #27b87b;
}

.fill-green-500 {
  fill: #009758;
}

.fill-green-600 {
  fill: #007946;
}

.fill-green-700 {
  fill: #005b35;
}

.fill-green-800 {
  fill: #003c23;
}

.fill-green-900 {
  fill: #001e12;
}

.fill-aqua-100 {
  fill: #cff2f7;
}

.fill-aqua-200 {
  fill: #9fe7ee;
}

.fill-aqua-300 {
  fill: #70dae6;
}

.fill-aqua-400 {
  fill: #40cfdd;
}

.fill-aqua-500 {
  fill: #1fb6c6;
}

.fill-aqua-600 {
  fill: #0f9aa8;
}

.fill-aqua-700 {
  fill: #0b737f;
}

.fill-aqua-800 {
  fill: #074d54;
}

.fill-aqua-900 {
  fill: #03262b;
}

.fill-blue-100 {
  fill: #d7e0ff;
}

.fill-blue-200 {
  fill: #afc1ff;
}

.fill-blue-300 {
  fill: #87a1ff;
}

.fill-blue-400 {
  fill: #5f82ff;
}

.fill-blue-500 {
  fill: #3763ff;
}

.fill-blue-600 {
  fill: #1e47da;
}

.fill-blue-700 {
  fill: #1735a3;
}

.fill-blue-800 {
  fill: #0f246d;
}

.fill-blue-900 {
  fill: #081236;
}

.fill-purple-100 {
  fill: #e8d7ff;
}

.fill-purple-200 {
  fill: #d2aeff;
}

.fill-purple-300 {
  fill: #bb86ff;
}

.fill-purple-400 {
  fill: #a55dff;
}

.fill-purple-500 {
  fill: #8e35ff;
}

.fill-purple-600 {
  fill: #701cda;
}

.fill-purple-700 {
  fill: #5416a3;
}

.fill-purple-800 {
  fill: #380e6d;
}

.fill-purple-900 {
  fill: #1b0836;
}

.fill-blueish-grey-100 {
  fill: #ced7dd;
}

.fill-blueish-grey-200 {
  fill: #9dafbb;
}

.fill-blueish-grey-300 {
  fill: #6c8499;
}

.fill-blueish-grey-400 {
  fill: #435b6f;
}

.fill-blueish-grey-500 {
  fill: #21313E;
}

.fill-blueish-grey-600 {
  fill: #162736;
}

.fill-blueish-grey-700 {
  fill: #111d28;
}

.fill-blueish-grey-800 {
  fill: #0b141b;
}

.fill-blueish-grey-900 {
  fill: #060a0d;
}

.fill-neutral-grey-100 {
  fill: #e4dede;
}

.fill-neutral-grey-200 {
  fill: #cabcbc;
}

.fill-neutral-grey-300 {
  fill: #af9b9b;
}

.fill-neutral-grey-400 {
  fill: #947a7a;
}

.fill-neutral-grey-500 {
  fill: #696969;
}

.fill-neutral-grey-600 {
  fill: #5d4b4b;
}

.fill-neutral-grey-700 {
  fill: #463838;
}

.fill-neutral-grey-800 {
  fill: #2f2525;
}

.fill-neutral-grey-900 {
  fill: #171313;
}

.stroke-red-100 {
  stroke: #f7d0d0;
}

.stroke-red-200 {
  stroke: #efa0a0;
}

.stroke-red-300 {
  stroke: #e77171;
}

.stroke-red-400 {
  stroke: #df4141;
}

.stroke-red-500 {
  stroke: #c82121;
}

.stroke-red-600 {
  stroke: #aa1010;
}

.stroke-red-700 {
  stroke: #800c0c;
}

.stroke-red-800 {
  stroke: #550808;
}

.stroke-red-900 {
  stroke: #2b0404;
}

.stroke-orange-100 {
  stroke: #ffe1cc;
}

.stroke-orange-200 {
  stroke: #ffc399;
}

.stroke-orange-300 {
  stroke: #ffa566;
}

.stroke-orange-400 {
  stroke: #ff8733;
}

.stroke-orange-500 {
  stroke: #ff6900;
}

.stroke-orange-600 {
  stroke: #cc5400;
}

.stroke-orange-700 {
  stroke: #993f00;
}

.stroke-orange-800 {
  stroke: #662a00;
}

.stroke-orange-900 {
  stroke: #331500;
}

.stroke-yellow-100 {
  stroke: #fdf4cf;
}

.stroke-yellow-200 {
  stroke: #fbe7a0;
}

.stroke-yellow-300 {
  stroke: #f7dc70;
}

.stroke-yellow-400 {
  stroke: #f5cf40;
}

.stroke-yellow-500 {
  stroke: #e5bc1e;
}

.stroke-yellow-600 {
  stroke: #c29d0d;
}

.stroke-yellow-700 {
  stroke: #927609;
}

.stroke-yellow-800 {
  stroke: #624e06;
}

.stroke-yellow-900 {
  stroke: #312803;
}

.stroke-lime-100 {
  stroke: #d1f3d0;
}

.stroke-lime-200 {
  stroke: #a3e8a2;
}

.stroke-lime-300 {
  stroke: #76dd72;
}

.stroke-lime-400 {
  stroke: #48d244;
}

.stroke-lime-500 {
  stroke: #29b625;
}

.stroke-lime-600 {
  stroke: #189c14;
}

.stroke-lime-700 {
  stroke: #12740f;
}

.stroke-lime-800 {
  stroke: #0b4e0a;
}

.stroke-lime-900 {
  stroke: #062605;
}

.stroke-green-100 {
  stroke: #c8eedf;
}

.stroke-green-200 {
  stroke: #91ddbd;
}

.stroke-green-300 {
  stroke: #5acd9d;
}

.stroke-green-400 {
  stroke: #27b87b;
}

.stroke-green-500 {
  stroke: #009758;
}

.stroke-green-600 {
  stroke: #007946;
}

.stroke-green-700 {
  stroke: #005b35;
}

.stroke-green-800 {
  stroke: #003c23;
}

.stroke-green-900 {
  stroke: #001e12;
}

.stroke-aqua-100 {
  stroke: #cff2f7;
}

.stroke-aqua-200 {
  stroke: #9fe7ee;
}

.stroke-aqua-300 {
  stroke: #70dae6;
}

.stroke-aqua-400 {
  stroke: #40cfdd;
}

.stroke-aqua-500 {
  stroke: #1fb6c6;
}

.stroke-aqua-600 {
  stroke: #0f9aa8;
}

.stroke-aqua-700 {
  stroke: #0b737f;
}

.stroke-aqua-800 {
  stroke: #074d54;
}

.stroke-aqua-900 {
  stroke: #03262b;
}

.stroke-blue-100 {
  stroke: #d7e0ff;
}

.stroke-blue-200 {
  stroke: #afc1ff;
}

.stroke-blue-300 {
  stroke: #87a1ff;
}

.stroke-blue-400 {
  stroke: #5f82ff;
}

.stroke-blue-500 {
  stroke: #3763ff;
}

.stroke-blue-600 {
  stroke: #1e47da;
}

.stroke-blue-700 {
  stroke: #1735a3;
}

.stroke-blue-800 {
  stroke: #0f246d;
}

.stroke-blue-900 {
  stroke: #081236;
}

.stroke-purple-100 {
  stroke: #e8d7ff;
}

.stroke-purple-200 {
  stroke: #d2aeff;
}

.stroke-purple-300 {
  stroke: #bb86ff;
}

.stroke-purple-400 {
  stroke: #a55dff;
}

.stroke-purple-500 {
  stroke: #8e35ff;
}

.stroke-purple-600 {
  stroke: #701cda;
}

.stroke-purple-700 {
  stroke: #5416a3;
}

.stroke-purple-800 {
  stroke: #380e6d;
}

.stroke-purple-900 {
  stroke: #1b0836;
}

.stroke-blueish-grey-100 {
  stroke: #ced7dd;
}

.stroke-blueish-grey-200 {
  stroke: #9dafbb;
}

.stroke-blueish-grey-300 {
  stroke: #6c8499;
}

.stroke-blueish-grey-400 {
  stroke: #435b6f;
}

.stroke-blueish-grey-500 {
  stroke: #21313E;
}

.stroke-blueish-grey-600 {
  stroke: #162736;
}

.stroke-blueish-grey-700 {
  stroke: #111d28;
}

.stroke-blueish-grey-800 {
  stroke: #0b141b;
}

.stroke-blueish-grey-900 {
  stroke: #060a0d;
}

.stroke-neutral-grey-100 {
  stroke: #e4dede;
}

.stroke-neutral-grey-200 {
  stroke: #cabcbc;
}

.stroke-neutral-grey-300 {
  stroke: #af9b9b;
}

.stroke-neutral-grey-400 {
  stroke: #947a7a;
}

.stroke-neutral-grey-500 {
  stroke: #696969;
}

.stroke-neutral-grey-600 {
  stroke: #5d4b4b;
}

.stroke-neutral-grey-700 {
  stroke: #463838;
}

.stroke-neutral-grey-800 {
  stroke: #2f2525;
}

.stroke-neutral-grey-900 {
  stroke: #171313;
}

.m-1 {
  margin: 0.375rem;
}

.m-2 {
  margin: 0.8125rem;
}

.m-3 {
  margin: 1.1875rem;
}

.m-4 {
  margin: 1.625rem;
}

.m-5 {
  margin: 2rem;
}

.m-6 {
  margin: 2.4375rem;
}

.m-7 {
  margin: 2.8125rem;
}

.m-8 {
  margin: 3.25rem;
}

.m-9 {
  margin: 3.625rem;
}

.m-10 {
  margin: 4.0625rem;
}

.m-11 {
  margin: 4.4375rem;
}

.m-12 {
  margin: 4.875rem;
}

.m-13 {
  margin: 5.25rem;
}

.m-14 {
  margin: 5.6875rem;
}

.m-15 {
  margin: 6.0625rem;
}

.m-16 {
  margin: 6.5rem;
}

.m-17 {
  margin: 6.875rem;
}

.m-18 {
  margin: 7.25rem;
}

.m-19 {
  margin: 7.6875rem;
}

.m-20 {
  margin: 8.0625rem;
}

.m-r-1 {
  margin-right: 0.375rem;
}

.m-r-2 {
  margin-right: 0.8125rem;
}

.m-r-3 {
  margin-right: 1.1875rem;
}

.m-r-4 {
  margin-right: 1.625rem;
}

.m-r-5 {
  margin-right: 2rem;
}

.m-r-6 {
  margin-right: 2.4375rem;
}

.m-r-7 {
  margin-right: 2.8125rem;
}

.m-r-8 {
  margin-right: 3.25rem;
}

.m-r-9 {
  margin-right: 3.625rem;
}

.m-r-10 {
  margin-right: 4.0625rem;
}

.m-r-11 {
  margin-right: 4.4375rem;
}

.m-r-12 {
  margin-right: 4.875rem;
}

.m-r-13 {
  margin-right: 5.25rem;
}

.m-r-14 {
  margin-right: 5.6875rem;
}

.m-r-15 {
  margin-right: 6.0625rem;
}

.m-r-16 {
  margin-right: 6.5rem;
}

.m-r-17 {
  margin-right: 6.875rem;
}

.m-r-18 {
  margin-right: 7.25rem;
}

.m-r-19 {
  margin-right: 7.6875rem;
}

.m-r-20 {
  margin-right: 8.0625rem;
}

.m-l-1 {
  margin-left: 0.375rem;
}

.m-l-2 {
  margin-left: 0.8125rem;
}

.m-l-3 {
  margin-left: 1.1875rem;
}

.m-l-4 {
  margin-left: 1.625rem;
}

.m-l-5 {
  margin-left: 2rem;
}

.m-l-6 {
  margin-left: 2.4375rem;
}

.m-l-7 {
  margin-left: 2.8125rem;
}

.m-l-8 {
  margin-left: 3.25rem;
}

.m-l-9 {
  margin-left: 3.625rem;
}

.m-l-10 {
  margin-left: 4.0625rem;
}

.m-l-11 {
  margin-left: 4.4375rem;
}

.m-l-12 {
  margin-left: 4.875rem;
}

.m-l-13 {
  margin-left: 5.25rem;
}

.m-l-14 {
  margin-left: 5.6875rem;
}

.m-l-15 {
  margin-left: 6.0625rem;
}

.m-l-16 {
  margin-left: 6.5rem;
}

.m-l-17 {
  margin-left: 6.875rem;
}

.m-l-18 {
  margin-left: 7.25rem;
}

.m-l-19 {
  margin-left: 7.6875rem;
}

.m-l-20 {
  margin-left: 8.0625rem;
}

.m-b-1 {
  margin-bottom: 0.375rem;
}

.m-b-2 {
  margin-bottom: 0.8125rem;
}

.m-b-3 {
  margin-bottom: 1.1875rem;
}

.m-b-4 {
  margin-bottom: 1.625rem;
}

.m-b-5 {
  margin-bottom: 2rem;
}

.m-b-6 {
  margin-bottom: 2.4375rem;
}

.m-b-7 {
  margin-bottom: 2.8125rem;
}

.m-b-8 {
  margin-bottom: 3.25rem;
}

.m-b-9 {
  margin-bottom: 3.625rem;
}

.m-b-10 {
  margin-bottom: 4.0625rem;
}

.m-b-11 {
  margin-bottom: 4.4375rem;
}

.m-b-12 {
  margin-bottom: 4.875rem;
}

.m-b-13 {
  margin-bottom: 5.25rem;
}

.m-b-14 {
  margin-bottom: 5.6875rem;
}

.m-b-15 {
  margin-bottom: 6.0625rem;
}

.m-b-16 {
  margin-bottom: 6.5rem;
}

.m-b-17 {
  margin-bottom: 6.875rem;
}

.m-b-18 {
  margin-bottom: 7.25rem;
}

.m-b-19 {
  margin-bottom: 7.6875rem;
}

.m-b-20 {
  margin-bottom: 8.0625rem;
}

.m-t-1 {
  margin-top: 0.375rem;
}

.m-t-2 {
  margin-top: 0.8125rem;
}

.m-t-3 {
  margin-top: 1.1875rem;
}

.m-t-4 {
  margin-top: 1.625rem;
}

.m-t-5 {
  margin-top: 2rem;
}

.m-t-6 {
  margin-top: 2.4375rem;
}

.m-t-7 {
  margin-top: 2.8125rem;
}

.m-t-8 {
  margin-top: 3.25rem;
}

.m-t-9 {
  margin-top: 3.625rem;
}

.m-t-10 {
  margin-top: 4.0625rem;
}

.m-t-11 {
  margin-top: 4.4375rem;
}

.m-t-12 {
  margin-top: 4.875rem;
}

.m-t-13 {
  margin-top: 5.25rem;
}

.m-t-14 {
  margin-top: 5.6875rem;
}

.m-t-15 {
  margin-top: 6.0625rem;
}

.m-t-16 {
  margin-top: 6.5rem;
}

.m-t-17 {
  margin-top: 6.875rem;
}

.m-t-18 {
  margin-top: 7.25rem;
}

.m-t-19 {
  margin-top: 7.6875rem;
}

.m-t-20 {
  margin-top: 8.0625rem;
}

.m-auto {
  margin: auto;
}

.m-right-auto {
  margin-right: auto;
}

.m-left-auto {
  margin-left: auto;
}

.m-top-auto {
  margin-top: auto;
}

.m-bottom-auto {
  margin-bottom: auto;
}

.m-x-auto {
  margin-right: auto;
  margin-left: auto;
}

.m-y-auto {
  margin-top: auto;
  margin-bottom: auto;
}

.p-1 {
  padding: 0.375rem;
}

.p-2 {
  padding: 0.8125rem;
}

.p-3 {
  padding: 1.1875rem;
}

.p-4 {
  padding: 1.625rem;
}

.p-5 {
  padding: 2rem;
}

.p-6 {
  padding: 2.4375rem;
}

.p-7 {
  padding: 2.8125rem;
}

.p-8 {
  padding: 3.25rem;
}

.p-9 {
  padding: 3.625rem;
}

.p-10 {
  padding: 4.0625rem;
}

.p-11 {
  padding: 4.4375rem;
}

.p-12 {
  padding: 4.875rem;
}

.p-13 {
  padding: 5.25rem;
}

.p-14 {
  padding: 5.6875rem;
}

.p-15 {
  padding: 6.0625rem;
}

.p-16 {
  padding: 6.5rem;
}

.p-17 {
  padding: 6.875rem;
}

.p-18 {
  padding: 7.25rem;
}

.p-19 {
  padding: 7.6875rem;
}

.p-20 {
  padding: 8.0625rem;
}

.p-right-1 {
  padding: 0.375rem;
}

.p-right-2 {
  padding: 0.8125rem;
}

.p-right-3 {
  padding: 1.1875rem;
}

.p-right-4 {
  padding: 1.625rem;
}

.p-right-5 {
  padding: 2rem;
}

.p-right-6 {
  padding: 2.4375rem;
}

.p-right-7 {
  padding: 2.8125rem;
}

.p-right-8 {
  padding: 3.25rem;
}

.p-right-9 {
  padding: 3.625rem;
}

.p-right-10 {
  padding: 4.0625rem;
}

.p-right-11 {
  padding: 4.4375rem;
}

.p-right-12 {
  padding: 4.875rem;
}

.p-right-13 {
  padding: 5.25rem;
}

.p-right-14 {
  padding: 5.6875rem;
}

.p-right-15 {
  padding: 6.0625rem;
}

.p-right-16 {
  padding: 6.5rem;
}

.p-right-17 {
  padding: 6.875rem;
}

.p-right-18 {
  padding: 7.25rem;
}

.p-right-19 {
  padding: 7.6875rem;
}

.p-right-20 {
  padding: 8.0625rem;
}

.p-left-1 {
  padding: 0.375rem;
}

.p-left-2 {
  padding: 0.8125rem;
}

.p-left-3 {
  padding: 1.1875rem;
}

.p-left-4 {
  padding: 1.625rem;
}

.p-left-5 {
  padding: 2rem;
}

.p-left-6 {
  padding: 2.4375rem;
}

.p-left-7 {
  padding: 2.8125rem;
}

.p-left-8 {
  padding: 3.25rem;
}

.p-left-9 {
  padding: 3.625rem;
}

.p-left-10 {
  padding: 4.0625rem;
}

.p-left-11 {
  padding: 4.4375rem;
}

.p-left-12 {
  padding: 4.875rem;
}

.p-left-13 {
  padding: 5.25rem;
}

.p-left-14 {
  padding: 5.6875rem;
}

.p-left-15 {
  padding: 6.0625rem;
}

.p-left-16 {
  padding: 6.5rem;
}

.p-left-17 {
  padding: 6.875rem;
}

.p-left-18 {
  padding: 7.25rem;
}

.p-left-19 {
  padding: 7.6875rem;
}

.p-left-20 {
  padding: 8.0625rem;
}

.p-top-1 {
  padding: 0.375rem;
}

.p-top-2 {
  padding: 0.8125rem;
}

.p-top-3 {
  padding: 1.1875rem;
}

.p-top-4 {
  padding: 1.625rem;
}

.p-top-5 {
  padding: 2rem;
}

.p-top-6 {
  padding: 2.4375rem;
}

.p-top-7 {
  padding: 2.8125rem;
}

.p-top-8 {
  padding: 3.25rem;
}

.p-top-9 {
  padding: 3.625rem;
}

.p-top-10 {
  padding: 4.0625rem;
}

.p-top-11 {
  padding: 4.4375rem;
}

.p-top-12 {
  padding: 4.875rem;
}

.p-top-13 {
  padding: 5.25rem;
}

.p-top-14 {
  padding: 5.6875rem;
}

.p-top-15 {
  padding: 6.0625rem;
}

.p-top-16 {
  padding: 6.5rem;
}

.p-top-17 {
  padding: 6.875rem;
}

.p-top-18 {
  padding: 7.25rem;
}

.p-top-19 {
  padding: 7.6875rem;
}

.p-top-20 {
  padding: 8.0625rem;
}

.p-bottom-2 {
  padding: 0.8125rem;
}

.p-bottom-3 {
  padding: 1.1875rem;
}

.p-bottom-4 {
  padding: 1.625rem;
}

.p-bottom-5 {
  padding: 2rem;
}

.p-bottom-6 {
  padding: 2.4375rem;
}

.p-bottom-7 {
  padding: 2.8125rem;
}

.p-bottom-8 {
  padding: 3.25rem;
}

.p-bottom-9 {
  padding: 3.625rem;
}

.p-bottom-10 {
  padding: 4.0625rem;
}

.p-bottom-11 {
  padding: 4.4375rem;
}

.p-bottom-12 {
  padding: 4.875rem;
}

.p-bottom-13 {
  padding: 5.25rem;
}

.p-bottom-14 {
  padding: 5.6875rem;
}

.p-bottom-15 {
  padding: 6.0625rem;
}

.p-bottom-16 {
  padding: 6.5rem;
}

.p-bottom-17 {
  padding: 6.875rem;
}

.p-bottom-18 {
  padding: 7.25rem;
}

.p-bottom-19 {
  padding: 7.6875rem;
}

.p-bottom-20 {
  padding: 8.0625rem;
}

.font-sans {
  font-family: Inter, sans-serif;
}

.font-serif {
  font-family: Lora, serif;
}

.font-monospace {
  font-family: Space Mono, monospace;
}

:root {
  --font-sans: Inter;
  --font-serif: Lora;
  --font-monospace: Space Mono;
}

.shadow {
  box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.275), 0px 3px 4px 0px rgba(0, 0, 0, 0.215), 0px 1px 8px 0px rgba(0, 0, 0, 0.195);
}

.shadow-light {
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.275), 0px 1px 1px 0px rgba(0, 0, 0, 0.215), 0px 1px 3px 0px rgba(0, 0, 0, 0.195);
}

.shadow-medium {
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.275), 0px 5px 8px 0px rgba(0, 0, 0, 0.215), 0px 1px 14px 0px rgba(0, 0, 0, 0.195);
}

.shadow-high {
  box-shadow: 0px 4px 5px -2px rgba(0, 0, 0, 0.275), 0px 7px 10px 1px rgba(0, 0, 0, 0.215), 0px 2px 16px 1px rgba(0, 0, 0, 0.195);
}

/*# sourceMappingURL=index.css.map */
