@import url('../../eccentrictouch-vendors/fonts.css');

// $sans-font: 'Inter', sans-serif;
// $serif-font: 'Lora', serif;
// $monospace-font: 'Space Mono', monospace;



// // font weight methods

// .font-weight-light{
//   font-weight: 400;
// }

// .font-weight-regular{
//   font-weight: 500;
// }

// .font-weight-bold{
//   font-weight: 600;
// }


// 
$maxfontWeightValue:9;
$baseUnit:100;


//Automated Font-weight  values
@for $count from 1 through $maxfontWeightValue {
  .font-weight-#{$count * $baseUnit} {
    font-weight: ($count * $baseUnit);
  }
}


// Font-size
// $maxfontSizeValue:6;
// $goldenRatio: 1.618;
// $baseUnit2: 6px;
// @for $count from 1 through $maxfontSizeValue {
//   h#{($maxfontSizeValue +1 -$count)},.h#{($maxfontSizeValue +1 -$count)} {
//    font-size: ($count * $goldenRatio * $baseUnit2 );
//   }
// }






// :root {
//   --font-sans: #{$sans-font};
//   --font-serif: #{$serif-font};
//   --font-monospace: #{$monospace-font};
// }

// heading font methods
