@import url('../../eccentrictouch-vendors/fonts.css');

$sans-font: 'Inter', sans-serif;
$serif-font: 'Lora', serif;
$monospace-font: 'Space Mono', monospace;

// font type methods
.font-sans {
  font-family: $sans-font;
}

.font-serif {
  font-family: $serif-font;
}

.font-monospace {
  font-family: $monospace-font;
}

:root {
  --font-sans: #{$sans-font};
  --font-serif: #{$serif-font};
  --font-monospace: #{$monospace-font};
}

// heading font methods
