@use '../../eccentrictouch-vendors/fonts.css';

@use 'typography-mixins' as m;

$sans-font: 'Inter';
$serif-font: 'Lora';
$monospace-font: 'Space Mono';

.font-sans {
  @include m.font-family_($sans-font, sans-serif);
}

.font-serif {
  @include m.font-family_($serif-font, serif);
}

.font-monospace {
  @include m.font-family_($monospace-font, monospace);
}

:root {
  --font-sans: #{$sans-font};
  --font-serif: #{$serif-font};
  --font-monospace: #{$monospace-font};
}

// heading font methods
