
$border-neutral-color-400: #A9A9A9;

$border-default: 1px solid $border-neutral-color-400;
$border-light: 0.6px solid $border-neutral-color-400;
$border-medium: 1.6px solid $border-neutral-color-400;
$border-high: 2.4px solid $border-neutral-color-400;

.border {
  border: $border-default;
}

.border-light {
  border: $border-light;
}

.border-medium {
  border: $border-medium
}

.border-high {
  border: $border-high;
}

:root {
  --border: #{$border-default};
  --border-light: #{$border-light};
  --border-medium: #{$border-medium};
  --border-high: #{$border-high};
}

// border-width properties - ranging from 1 to 100 pixel units
$max-border-width-value: 100;
@for $count from 1 through $max-border-width-value {
  .border-width-#{$count} {
    border-width: #{$count}px;
  }
  .border-right-width-#{$count} {
    border-right-width: #{$count}px;
  }
  .border-left-width-#{$count} {
    border-left-width: #{$count}px;
  }
  .border-top-width-#{$count} {
    border-top-width: #{$count}px;
  }
  .border-bottom-width-#{$count} {
    border-bottom-width: #{$count}px;
  }
}

$max-border-radius-value: 100;
@for $count from 1 through $max-border-radius-value {
  .border-radius-#{$count} {
    border-radius: #{$count}px;
  }
}

// border-widths - decimal values (ranging from 0.1 to 100.9)
$max-border-decimal-value: 9;
@for $base-value from 0 through $max-border-width-value {
  @for $decimal-value from 1 through $max-border-decimal-value {
    .border-width-#{$base-value}-point-#{$decimal-value} {
      border-width: #{($base-value * 10 + $decimal-value)/10}px;
    }
    .border-right-width-#{$base-value}-point-#{$decimal-value} {
      border-right-width: #{($base-value * 10 + $decimal-value)/10}px;
    }
    .border-left-width-#{$base-value}-point-#{$decimal-value} {
      border-left-width: #{($base-value * 10 + $decimal-value)/10}px;
    }
    .border-top-width-#{$base-value}-point-#{$decimal-value} {
      border-top-width: #{($base-value * 10 + $decimal-value)/10}px;
    }
    .border-bottom-width-#{$base-value}-point-#{$decimal-value} {
      border-bottom-width: #{($base-value * 10 + $decimal-value)/10}px;
    }
  }
}