.border {
  border: 1px solid #A9A9A9;
}

.border-light {
  border: 0.6px solid #A9A9A9;
}

.border-medium {
  border: 1.6px solid #A9A9A9;
}

.border-high {
  border: 2.4px solid #A9A9A9;
}

:root {
  --border: 1px solid #A9A9A9;
  --border-light: 0.6px solid #A9A9A9;
  --border-medium: 1.6px solid #A9A9A9;
  --border-high: 2.4px solid #A9A9A9;
}

.border-width-1 {
  border-width: 1px;
}

.border-right-width-1 {
  border-right-width: 1px;
}

.border-left-width-1 {
  border-left-width: 1px;
}

.border-top-width-1 {
  border-top-width: 1px;
}

.border-bottom-width-1 {
  border-bottom-width: 1px;
}

.border-width-2 {
  border-width: 2px;
}

.border-right-width-2 {
  border-right-width: 2px;
}

.border-left-width-2 {
  border-left-width: 2px;
}

.border-top-width-2 {
  border-top-width: 2px;
}

.border-bottom-width-2 {
  border-bottom-width: 2px;
}

.border-width-3 {
  border-width: 3px;
}

.border-right-width-3 {
  border-right-width: 3px;
}

.border-left-width-3 {
  border-left-width: 3px;
}

.border-top-width-3 {
  border-top-width: 3px;
}

.border-bottom-width-3 {
  border-bottom-width: 3px;
}

.border-width-4 {
  border-width: 4px;
}

.border-right-width-4 {
  border-right-width: 4px;
}

.border-left-width-4 {
  border-left-width: 4px;
}

.border-top-width-4 {
  border-top-width: 4px;
}

.border-bottom-width-4 {
  border-bottom-width: 4px;
}

.border-width-5 {
  border-width: 5px;
}

.border-right-width-5 {
  border-right-width: 5px;
}

.border-left-width-5 {
  border-left-width: 5px;
}

.border-top-width-5 {
  border-top-width: 5px;
}

.border-bottom-width-5 {
  border-bottom-width: 5px;
}

.border-width-6 {
  border-width: 6px;
}

.border-right-width-6 {
  border-right-width: 6px;
}

.border-left-width-6 {
  border-left-width: 6px;
}

.border-top-width-6 {
  border-top-width: 6px;
}

.border-bottom-width-6 {
  border-bottom-width: 6px;
}

.border-width-7 {
  border-width: 7px;
}

.border-right-width-7 {
  border-right-width: 7px;
}

.border-left-width-7 {
  border-left-width: 7px;
}

.border-top-width-7 {
  border-top-width: 7px;
}

.border-bottom-width-7 {
  border-bottom-width: 7px;
}

.border-width-8 {
  border-width: 8px;
}

.border-right-width-8 {
  border-right-width: 8px;
}

.border-left-width-8 {
  border-left-width: 8px;
}

.border-top-width-8 {
  border-top-width: 8px;
}

.border-bottom-width-8 {
  border-bottom-width: 8px;
}

.border-width-9 {
  border-width: 9px;
}

.border-right-width-9 {
  border-right-width: 9px;
}

.border-left-width-9 {
  border-left-width: 9px;
}

.border-top-width-9 {
  border-top-width: 9px;
}

.border-bottom-width-9 {
  border-bottom-width: 9px;
}

.border-width-10 {
  border-width: 10px;
}

.border-right-width-10 {
  border-right-width: 10px;
}

.border-left-width-10 {
  border-left-width: 10px;
}

.border-top-width-10 {
  border-top-width: 10px;
}

.border-bottom-width-10 {
  border-bottom-width: 10px;
}

.border-width-11 {
  border-width: 11px;
}

.border-right-width-11 {
  border-right-width: 11px;
}

.border-left-width-11 {
  border-left-width: 11px;
}

.border-top-width-11 {
  border-top-width: 11px;
}

.border-bottom-width-11 {
  border-bottom-width: 11px;
}

.border-width-12 {
  border-width: 12px;
}

.border-right-width-12 {
  border-right-width: 12px;
}

.border-left-width-12 {
  border-left-width: 12px;
}

.border-top-width-12 {
  border-top-width: 12px;
}

.border-bottom-width-12 {
  border-bottom-width: 12px;
}

.border-width-13 {
  border-width: 13px;
}

.border-right-width-13 {
  border-right-width: 13px;
}

.border-left-width-13 {
  border-left-width: 13px;
}

.border-top-width-13 {
  border-top-width: 13px;
}

.border-bottom-width-13 {
  border-bottom-width: 13px;
}

.border-width-14 {
  border-width: 14px;
}

.border-right-width-14 {
  border-right-width: 14px;
}

.border-left-width-14 {
  border-left-width: 14px;
}

.border-top-width-14 {
  border-top-width: 14px;
}

.border-bottom-width-14 {
  border-bottom-width: 14px;
}

.border-width-15 {
  border-width: 15px;
}

.border-right-width-15 {
  border-right-width: 15px;
}

.border-left-width-15 {
  border-left-width: 15px;
}

.border-top-width-15 {
  border-top-width: 15px;
}

.border-bottom-width-15 {
  border-bottom-width: 15px;
}

.border-width-16 {
  border-width: 16px;
}

.border-right-width-16 {
  border-right-width: 16px;
}

.border-left-width-16 {
  border-left-width: 16px;
}

.border-top-width-16 {
  border-top-width: 16px;
}

.border-bottom-width-16 {
  border-bottom-width: 16px;
}

.border-width-17 {
  border-width: 17px;
}

.border-right-width-17 {
  border-right-width: 17px;
}

.border-left-width-17 {
  border-left-width: 17px;
}

.border-top-width-17 {
  border-top-width: 17px;
}

.border-bottom-width-17 {
  border-bottom-width: 17px;
}

.border-width-18 {
  border-width: 18px;
}

.border-right-width-18 {
  border-right-width: 18px;
}

.border-left-width-18 {
  border-left-width: 18px;
}

.border-top-width-18 {
  border-top-width: 18px;
}

.border-bottom-width-18 {
  border-bottom-width: 18px;
}

.border-width-19 {
  border-width: 19px;
}

.border-right-width-19 {
  border-right-width: 19px;
}

.border-left-width-19 {
  border-left-width: 19px;
}

.border-top-width-19 {
  border-top-width: 19px;
}

.border-bottom-width-19 {
  border-bottom-width: 19px;
}

.border-width-20 {
  border-width: 20px;
}

.border-right-width-20 {
  border-right-width: 20px;
}

.border-left-width-20 {
  border-left-width: 20px;
}

.border-top-width-20 {
  border-top-width: 20px;
}

.border-bottom-width-20 {
  border-bottom-width: 20px;
}

.border-width-21 {
  border-width: 21px;
}

.border-right-width-21 {
  border-right-width: 21px;
}

.border-left-width-21 {
  border-left-width: 21px;
}

.border-top-width-21 {
  border-top-width: 21px;
}

.border-bottom-width-21 {
  border-bottom-width: 21px;
}

.border-width-22 {
  border-width: 22px;
}

.border-right-width-22 {
  border-right-width: 22px;
}

.border-left-width-22 {
  border-left-width: 22px;
}

.border-top-width-22 {
  border-top-width: 22px;
}

.border-bottom-width-22 {
  border-bottom-width: 22px;
}

.border-width-23 {
  border-width: 23px;
}

.border-right-width-23 {
  border-right-width: 23px;
}

.border-left-width-23 {
  border-left-width: 23px;
}

.border-top-width-23 {
  border-top-width: 23px;
}

.border-bottom-width-23 {
  border-bottom-width: 23px;
}

.border-width-24 {
  border-width: 24px;
}

.border-right-width-24 {
  border-right-width: 24px;
}

.border-left-width-24 {
  border-left-width: 24px;
}

.border-top-width-24 {
  border-top-width: 24px;
}

.border-bottom-width-24 {
  border-bottom-width: 24px;
}

.border-width-25 {
  border-width: 25px;
}

.border-right-width-25 {
  border-right-width: 25px;
}

.border-left-width-25 {
  border-left-width: 25px;
}

.border-top-width-25 {
  border-top-width: 25px;
}

.border-bottom-width-25 {
  border-bottom-width: 25px;
}

.border-width-26 {
  border-width: 26px;
}

.border-right-width-26 {
  border-right-width: 26px;
}

.border-left-width-26 {
  border-left-width: 26px;
}

.border-top-width-26 {
  border-top-width: 26px;
}

.border-bottom-width-26 {
  border-bottom-width: 26px;
}

.border-width-27 {
  border-width: 27px;
}

.border-right-width-27 {
  border-right-width: 27px;
}

.border-left-width-27 {
  border-left-width: 27px;
}

.border-top-width-27 {
  border-top-width: 27px;
}

.border-bottom-width-27 {
  border-bottom-width: 27px;
}

.border-width-28 {
  border-width: 28px;
}

.border-right-width-28 {
  border-right-width: 28px;
}

.border-left-width-28 {
  border-left-width: 28px;
}

.border-top-width-28 {
  border-top-width: 28px;
}

.border-bottom-width-28 {
  border-bottom-width: 28px;
}

.border-width-29 {
  border-width: 29px;
}

.border-right-width-29 {
  border-right-width: 29px;
}

.border-left-width-29 {
  border-left-width: 29px;
}

.border-top-width-29 {
  border-top-width: 29px;
}

.border-bottom-width-29 {
  border-bottom-width: 29px;
}

.border-width-30 {
  border-width: 30px;
}

.border-right-width-30 {
  border-right-width: 30px;
}

.border-left-width-30 {
  border-left-width: 30px;
}

.border-top-width-30 {
  border-top-width: 30px;
}

.border-bottom-width-30 {
  border-bottom-width: 30px;
}

.border-width-31 {
  border-width: 31px;
}

.border-right-width-31 {
  border-right-width: 31px;
}

.border-left-width-31 {
  border-left-width: 31px;
}

.border-top-width-31 {
  border-top-width: 31px;
}

.border-bottom-width-31 {
  border-bottom-width: 31px;
}

.border-width-32 {
  border-width: 32px;
}

.border-right-width-32 {
  border-right-width: 32px;
}

.border-left-width-32 {
  border-left-width: 32px;
}

.border-top-width-32 {
  border-top-width: 32px;
}

.border-bottom-width-32 {
  border-bottom-width: 32px;
}

.border-width-33 {
  border-width: 33px;
}

.border-right-width-33 {
  border-right-width: 33px;
}

.border-left-width-33 {
  border-left-width: 33px;
}

.border-top-width-33 {
  border-top-width: 33px;
}

.border-bottom-width-33 {
  border-bottom-width: 33px;
}

.border-width-34 {
  border-width: 34px;
}

.border-right-width-34 {
  border-right-width: 34px;
}

.border-left-width-34 {
  border-left-width: 34px;
}

.border-top-width-34 {
  border-top-width: 34px;
}

.border-bottom-width-34 {
  border-bottom-width: 34px;
}

.border-width-35 {
  border-width: 35px;
}

.border-right-width-35 {
  border-right-width: 35px;
}

.border-left-width-35 {
  border-left-width: 35px;
}

.border-top-width-35 {
  border-top-width: 35px;
}

.border-bottom-width-35 {
  border-bottom-width: 35px;
}

.border-width-36 {
  border-width: 36px;
}

.border-right-width-36 {
  border-right-width: 36px;
}

.border-left-width-36 {
  border-left-width: 36px;
}

.border-top-width-36 {
  border-top-width: 36px;
}

.border-bottom-width-36 {
  border-bottom-width: 36px;
}

.border-width-37 {
  border-width: 37px;
}

.border-right-width-37 {
  border-right-width: 37px;
}

.border-left-width-37 {
  border-left-width: 37px;
}

.border-top-width-37 {
  border-top-width: 37px;
}

.border-bottom-width-37 {
  border-bottom-width: 37px;
}

.border-width-38 {
  border-width: 38px;
}

.border-right-width-38 {
  border-right-width: 38px;
}

.border-left-width-38 {
  border-left-width: 38px;
}

.border-top-width-38 {
  border-top-width: 38px;
}

.border-bottom-width-38 {
  border-bottom-width: 38px;
}

.border-width-39 {
  border-width: 39px;
}

.border-right-width-39 {
  border-right-width: 39px;
}

.border-left-width-39 {
  border-left-width: 39px;
}

.border-top-width-39 {
  border-top-width: 39px;
}

.border-bottom-width-39 {
  border-bottom-width: 39px;
}

.border-width-40 {
  border-width: 40px;
}

.border-right-width-40 {
  border-right-width: 40px;
}

.border-left-width-40 {
  border-left-width: 40px;
}

.border-top-width-40 {
  border-top-width: 40px;
}

.border-bottom-width-40 {
  border-bottom-width: 40px;
}

.border-width-41 {
  border-width: 41px;
}

.border-right-width-41 {
  border-right-width: 41px;
}

.border-left-width-41 {
  border-left-width: 41px;
}

.border-top-width-41 {
  border-top-width: 41px;
}

.border-bottom-width-41 {
  border-bottom-width: 41px;
}

.border-width-42 {
  border-width: 42px;
}

.border-right-width-42 {
  border-right-width: 42px;
}

.border-left-width-42 {
  border-left-width: 42px;
}

.border-top-width-42 {
  border-top-width: 42px;
}

.border-bottom-width-42 {
  border-bottom-width: 42px;
}

.border-width-43 {
  border-width: 43px;
}

.border-right-width-43 {
  border-right-width: 43px;
}

.border-left-width-43 {
  border-left-width: 43px;
}

.border-top-width-43 {
  border-top-width: 43px;
}

.border-bottom-width-43 {
  border-bottom-width: 43px;
}

.border-width-44 {
  border-width: 44px;
}

.border-right-width-44 {
  border-right-width: 44px;
}

.border-left-width-44 {
  border-left-width: 44px;
}

.border-top-width-44 {
  border-top-width: 44px;
}

.border-bottom-width-44 {
  border-bottom-width: 44px;
}

.border-width-45 {
  border-width: 45px;
}

.border-right-width-45 {
  border-right-width: 45px;
}

.border-left-width-45 {
  border-left-width: 45px;
}

.border-top-width-45 {
  border-top-width: 45px;
}

.border-bottom-width-45 {
  border-bottom-width: 45px;
}

.border-width-46 {
  border-width: 46px;
}

.border-right-width-46 {
  border-right-width: 46px;
}

.border-left-width-46 {
  border-left-width: 46px;
}

.border-top-width-46 {
  border-top-width: 46px;
}

.border-bottom-width-46 {
  border-bottom-width: 46px;
}

.border-width-47 {
  border-width: 47px;
}

.border-right-width-47 {
  border-right-width: 47px;
}

.border-left-width-47 {
  border-left-width: 47px;
}

.border-top-width-47 {
  border-top-width: 47px;
}

.border-bottom-width-47 {
  border-bottom-width: 47px;
}

.border-width-48 {
  border-width: 48px;
}

.border-right-width-48 {
  border-right-width: 48px;
}

.border-left-width-48 {
  border-left-width: 48px;
}

.border-top-width-48 {
  border-top-width: 48px;
}

.border-bottom-width-48 {
  border-bottom-width: 48px;
}

.border-width-49 {
  border-width: 49px;
}

.border-right-width-49 {
  border-right-width: 49px;
}

.border-left-width-49 {
  border-left-width: 49px;
}

.border-top-width-49 {
  border-top-width: 49px;
}

.border-bottom-width-49 {
  border-bottom-width: 49px;
}

.border-width-50 {
  border-width: 50px;
}

.border-right-width-50 {
  border-right-width: 50px;
}

.border-left-width-50 {
  border-left-width: 50px;
}

.border-top-width-50 {
  border-top-width: 50px;
}

.border-bottom-width-50 {
  border-bottom-width: 50px;
}

.border-width-51 {
  border-width: 51px;
}

.border-right-width-51 {
  border-right-width: 51px;
}

.border-left-width-51 {
  border-left-width: 51px;
}

.border-top-width-51 {
  border-top-width: 51px;
}

.border-bottom-width-51 {
  border-bottom-width: 51px;
}

.border-width-52 {
  border-width: 52px;
}

.border-right-width-52 {
  border-right-width: 52px;
}

.border-left-width-52 {
  border-left-width: 52px;
}

.border-top-width-52 {
  border-top-width: 52px;
}

.border-bottom-width-52 {
  border-bottom-width: 52px;
}

.border-width-53 {
  border-width: 53px;
}

.border-right-width-53 {
  border-right-width: 53px;
}

.border-left-width-53 {
  border-left-width: 53px;
}

.border-top-width-53 {
  border-top-width: 53px;
}

.border-bottom-width-53 {
  border-bottom-width: 53px;
}

.border-width-54 {
  border-width: 54px;
}

.border-right-width-54 {
  border-right-width: 54px;
}

.border-left-width-54 {
  border-left-width: 54px;
}

.border-top-width-54 {
  border-top-width: 54px;
}

.border-bottom-width-54 {
  border-bottom-width: 54px;
}

.border-width-55 {
  border-width: 55px;
}

.border-right-width-55 {
  border-right-width: 55px;
}

.border-left-width-55 {
  border-left-width: 55px;
}

.border-top-width-55 {
  border-top-width: 55px;
}

.border-bottom-width-55 {
  border-bottom-width: 55px;
}

.border-width-56 {
  border-width: 56px;
}

.border-right-width-56 {
  border-right-width: 56px;
}

.border-left-width-56 {
  border-left-width: 56px;
}

.border-top-width-56 {
  border-top-width: 56px;
}

.border-bottom-width-56 {
  border-bottom-width: 56px;
}

.border-width-57 {
  border-width: 57px;
}

.border-right-width-57 {
  border-right-width: 57px;
}

.border-left-width-57 {
  border-left-width: 57px;
}

.border-top-width-57 {
  border-top-width: 57px;
}

.border-bottom-width-57 {
  border-bottom-width: 57px;
}

.border-width-58 {
  border-width: 58px;
}

.border-right-width-58 {
  border-right-width: 58px;
}

.border-left-width-58 {
  border-left-width: 58px;
}

.border-top-width-58 {
  border-top-width: 58px;
}

.border-bottom-width-58 {
  border-bottom-width: 58px;
}

.border-width-59 {
  border-width: 59px;
}

.border-right-width-59 {
  border-right-width: 59px;
}

.border-left-width-59 {
  border-left-width: 59px;
}

.border-top-width-59 {
  border-top-width: 59px;
}

.border-bottom-width-59 {
  border-bottom-width: 59px;
}

.border-width-60 {
  border-width: 60px;
}

.border-right-width-60 {
  border-right-width: 60px;
}

.border-left-width-60 {
  border-left-width: 60px;
}

.border-top-width-60 {
  border-top-width: 60px;
}

.border-bottom-width-60 {
  border-bottom-width: 60px;
}

.border-width-61 {
  border-width: 61px;
}

.border-right-width-61 {
  border-right-width: 61px;
}

.border-left-width-61 {
  border-left-width: 61px;
}

.border-top-width-61 {
  border-top-width: 61px;
}

.border-bottom-width-61 {
  border-bottom-width: 61px;
}

.border-width-62 {
  border-width: 62px;
}

.border-right-width-62 {
  border-right-width: 62px;
}

.border-left-width-62 {
  border-left-width: 62px;
}

.border-top-width-62 {
  border-top-width: 62px;
}

.border-bottom-width-62 {
  border-bottom-width: 62px;
}

.border-width-63 {
  border-width: 63px;
}

.border-right-width-63 {
  border-right-width: 63px;
}

.border-left-width-63 {
  border-left-width: 63px;
}

.border-top-width-63 {
  border-top-width: 63px;
}

.border-bottom-width-63 {
  border-bottom-width: 63px;
}

.border-width-64 {
  border-width: 64px;
}

.border-right-width-64 {
  border-right-width: 64px;
}

.border-left-width-64 {
  border-left-width: 64px;
}

.border-top-width-64 {
  border-top-width: 64px;
}

.border-bottom-width-64 {
  border-bottom-width: 64px;
}

.border-width-65 {
  border-width: 65px;
}

.border-right-width-65 {
  border-right-width: 65px;
}

.border-left-width-65 {
  border-left-width: 65px;
}

.border-top-width-65 {
  border-top-width: 65px;
}

.border-bottom-width-65 {
  border-bottom-width: 65px;
}

.border-width-66 {
  border-width: 66px;
}

.border-right-width-66 {
  border-right-width: 66px;
}

.border-left-width-66 {
  border-left-width: 66px;
}

.border-top-width-66 {
  border-top-width: 66px;
}

.border-bottom-width-66 {
  border-bottom-width: 66px;
}

.border-width-67 {
  border-width: 67px;
}

.border-right-width-67 {
  border-right-width: 67px;
}

.border-left-width-67 {
  border-left-width: 67px;
}

.border-top-width-67 {
  border-top-width: 67px;
}

.border-bottom-width-67 {
  border-bottom-width: 67px;
}

.border-width-68 {
  border-width: 68px;
}

.border-right-width-68 {
  border-right-width: 68px;
}

.border-left-width-68 {
  border-left-width: 68px;
}

.border-top-width-68 {
  border-top-width: 68px;
}

.border-bottom-width-68 {
  border-bottom-width: 68px;
}

.border-width-69 {
  border-width: 69px;
}

.border-right-width-69 {
  border-right-width: 69px;
}

.border-left-width-69 {
  border-left-width: 69px;
}

.border-top-width-69 {
  border-top-width: 69px;
}

.border-bottom-width-69 {
  border-bottom-width: 69px;
}

.border-width-70 {
  border-width: 70px;
}

.border-right-width-70 {
  border-right-width: 70px;
}

.border-left-width-70 {
  border-left-width: 70px;
}

.border-top-width-70 {
  border-top-width: 70px;
}

.border-bottom-width-70 {
  border-bottom-width: 70px;
}

.border-width-71 {
  border-width: 71px;
}

.border-right-width-71 {
  border-right-width: 71px;
}

.border-left-width-71 {
  border-left-width: 71px;
}

.border-top-width-71 {
  border-top-width: 71px;
}

.border-bottom-width-71 {
  border-bottom-width: 71px;
}

.border-width-72 {
  border-width: 72px;
}

.border-right-width-72 {
  border-right-width: 72px;
}

.border-left-width-72 {
  border-left-width: 72px;
}

.border-top-width-72 {
  border-top-width: 72px;
}

.border-bottom-width-72 {
  border-bottom-width: 72px;
}

.border-width-73 {
  border-width: 73px;
}

.border-right-width-73 {
  border-right-width: 73px;
}

.border-left-width-73 {
  border-left-width: 73px;
}

.border-top-width-73 {
  border-top-width: 73px;
}

.border-bottom-width-73 {
  border-bottom-width: 73px;
}

.border-width-74 {
  border-width: 74px;
}

.border-right-width-74 {
  border-right-width: 74px;
}

.border-left-width-74 {
  border-left-width: 74px;
}

.border-top-width-74 {
  border-top-width: 74px;
}

.border-bottom-width-74 {
  border-bottom-width: 74px;
}

.border-width-75 {
  border-width: 75px;
}

.border-right-width-75 {
  border-right-width: 75px;
}

.border-left-width-75 {
  border-left-width: 75px;
}

.border-top-width-75 {
  border-top-width: 75px;
}

.border-bottom-width-75 {
  border-bottom-width: 75px;
}

.border-width-76 {
  border-width: 76px;
}

.border-right-width-76 {
  border-right-width: 76px;
}

.border-left-width-76 {
  border-left-width: 76px;
}

.border-top-width-76 {
  border-top-width: 76px;
}

.border-bottom-width-76 {
  border-bottom-width: 76px;
}

.border-width-77 {
  border-width: 77px;
}

.border-right-width-77 {
  border-right-width: 77px;
}

.border-left-width-77 {
  border-left-width: 77px;
}

.border-top-width-77 {
  border-top-width: 77px;
}

.border-bottom-width-77 {
  border-bottom-width: 77px;
}

.border-width-78 {
  border-width: 78px;
}

.border-right-width-78 {
  border-right-width: 78px;
}

.border-left-width-78 {
  border-left-width: 78px;
}

.border-top-width-78 {
  border-top-width: 78px;
}

.border-bottom-width-78 {
  border-bottom-width: 78px;
}

.border-width-79 {
  border-width: 79px;
}

.border-right-width-79 {
  border-right-width: 79px;
}

.border-left-width-79 {
  border-left-width: 79px;
}

.border-top-width-79 {
  border-top-width: 79px;
}

.border-bottom-width-79 {
  border-bottom-width: 79px;
}

.border-width-80 {
  border-width: 80px;
}

.border-right-width-80 {
  border-right-width: 80px;
}

.border-left-width-80 {
  border-left-width: 80px;
}

.border-top-width-80 {
  border-top-width: 80px;
}

.border-bottom-width-80 {
  border-bottom-width: 80px;
}

.border-width-81 {
  border-width: 81px;
}

.border-right-width-81 {
  border-right-width: 81px;
}

.border-left-width-81 {
  border-left-width: 81px;
}

.border-top-width-81 {
  border-top-width: 81px;
}

.border-bottom-width-81 {
  border-bottom-width: 81px;
}

.border-width-82 {
  border-width: 82px;
}

.border-right-width-82 {
  border-right-width: 82px;
}

.border-left-width-82 {
  border-left-width: 82px;
}

.border-top-width-82 {
  border-top-width: 82px;
}

.border-bottom-width-82 {
  border-bottom-width: 82px;
}

.border-width-83 {
  border-width: 83px;
}

.border-right-width-83 {
  border-right-width: 83px;
}

.border-left-width-83 {
  border-left-width: 83px;
}

.border-top-width-83 {
  border-top-width: 83px;
}

.border-bottom-width-83 {
  border-bottom-width: 83px;
}

.border-width-84 {
  border-width: 84px;
}

.border-right-width-84 {
  border-right-width: 84px;
}

.border-left-width-84 {
  border-left-width: 84px;
}

.border-top-width-84 {
  border-top-width: 84px;
}

.border-bottom-width-84 {
  border-bottom-width: 84px;
}

.border-width-85 {
  border-width: 85px;
}

.border-right-width-85 {
  border-right-width: 85px;
}

.border-left-width-85 {
  border-left-width: 85px;
}

.border-top-width-85 {
  border-top-width: 85px;
}

.border-bottom-width-85 {
  border-bottom-width: 85px;
}

.border-width-86 {
  border-width: 86px;
}

.border-right-width-86 {
  border-right-width: 86px;
}

.border-left-width-86 {
  border-left-width: 86px;
}

.border-top-width-86 {
  border-top-width: 86px;
}

.border-bottom-width-86 {
  border-bottom-width: 86px;
}

.border-width-87 {
  border-width: 87px;
}

.border-right-width-87 {
  border-right-width: 87px;
}

.border-left-width-87 {
  border-left-width: 87px;
}

.border-top-width-87 {
  border-top-width: 87px;
}

.border-bottom-width-87 {
  border-bottom-width: 87px;
}

.border-width-88 {
  border-width: 88px;
}

.border-right-width-88 {
  border-right-width: 88px;
}

.border-left-width-88 {
  border-left-width: 88px;
}

.border-top-width-88 {
  border-top-width: 88px;
}

.border-bottom-width-88 {
  border-bottom-width: 88px;
}

.border-width-89 {
  border-width: 89px;
}

.border-right-width-89 {
  border-right-width: 89px;
}

.border-left-width-89 {
  border-left-width: 89px;
}

.border-top-width-89 {
  border-top-width: 89px;
}

.border-bottom-width-89 {
  border-bottom-width: 89px;
}

.border-width-90 {
  border-width: 90px;
}

.border-right-width-90 {
  border-right-width: 90px;
}

.border-left-width-90 {
  border-left-width: 90px;
}

.border-top-width-90 {
  border-top-width: 90px;
}

.border-bottom-width-90 {
  border-bottom-width: 90px;
}

.border-width-91 {
  border-width: 91px;
}

.border-right-width-91 {
  border-right-width: 91px;
}

.border-left-width-91 {
  border-left-width: 91px;
}

.border-top-width-91 {
  border-top-width: 91px;
}

.border-bottom-width-91 {
  border-bottom-width: 91px;
}

.border-width-92 {
  border-width: 92px;
}

.border-right-width-92 {
  border-right-width: 92px;
}

.border-left-width-92 {
  border-left-width: 92px;
}

.border-top-width-92 {
  border-top-width: 92px;
}

.border-bottom-width-92 {
  border-bottom-width: 92px;
}

.border-width-93 {
  border-width: 93px;
}

.border-right-width-93 {
  border-right-width: 93px;
}

.border-left-width-93 {
  border-left-width: 93px;
}

.border-top-width-93 {
  border-top-width: 93px;
}

.border-bottom-width-93 {
  border-bottom-width: 93px;
}

.border-width-94 {
  border-width: 94px;
}

.border-right-width-94 {
  border-right-width: 94px;
}

.border-left-width-94 {
  border-left-width: 94px;
}

.border-top-width-94 {
  border-top-width: 94px;
}

.border-bottom-width-94 {
  border-bottom-width: 94px;
}

.border-width-95 {
  border-width: 95px;
}

.border-right-width-95 {
  border-right-width: 95px;
}

.border-left-width-95 {
  border-left-width: 95px;
}

.border-top-width-95 {
  border-top-width: 95px;
}

.border-bottom-width-95 {
  border-bottom-width: 95px;
}

.border-width-96 {
  border-width: 96px;
}

.border-right-width-96 {
  border-right-width: 96px;
}

.border-left-width-96 {
  border-left-width: 96px;
}

.border-top-width-96 {
  border-top-width: 96px;
}

.border-bottom-width-96 {
  border-bottom-width: 96px;
}

.border-width-97 {
  border-width: 97px;
}

.border-right-width-97 {
  border-right-width: 97px;
}

.border-left-width-97 {
  border-left-width: 97px;
}

.border-top-width-97 {
  border-top-width: 97px;
}

.border-bottom-width-97 {
  border-bottom-width: 97px;
}

.border-width-98 {
  border-width: 98px;
}

.border-right-width-98 {
  border-right-width: 98px;
}

.border-left-width-98 {
  border-left-width: 98px;
}

.border-top-width-98 {
  border-top-width: 98px;
}

.border-bottom-width-98 {
  border-bottom-width: 98px;
}

.border-width-99 {
  border-width: 99px;
}

.border-right-width-99 {
  border-right-width: 99px;
}

.border-left-width-99 {
  border-left-width: 99px;
}

.border-top-width-99 {
  border-top-width: 99px;
}

.border-bottom-width-99 {
  border-bottom-width: 99px;
}

.border-width-100 {
  border-width: 100px;
}

.border-right-width-100 {
  border-right-width: 100px;
}

.border-left-width-100 {
  border-left-width: 100px;
}

.border-top-width-100 {
  border-top-width: 100px;
}

.border-bottom-width-100 {
  border-bottom-width: 100px;
}

.border-radius-1 {
  border-radius: 1px;
}

.border-radius-2 {
  border-radius: 2px;
}

.border-radius-3 {
  border-radius: 3px;
}

.border-radius-4 {
  border-radius: 4px;
}

.border-radius-5 {
  border-radius: 5px;
}

.border-radius-6 {
  border-radius: 6px;
}

.border-radius-7 {
  border-radius: 7px;
}

.border-radius-8 {
  border-radius: 8px;
}

.border-radius-9 {
  border-radius: 9px;
}

.border-radius-10 {
  border-radius: 10px;
}

.border-radius-11 {
  border-radius: 11px;
}

.border-radius-12 {
  border-radius: 12px;
}

.border-radius-13 {
  border-radius: 13px;
}

.border-radius-14 {
  border-radius: 14px;
}

.border-radius-15 {
  border-radius: 15px;
}

.border-radius-16 {
  border-radius: 16px;
}

.border-radius-17 {
  border-radius: 17px;
}

.border-radius-18 {
  border-radius: 18px;
}

.border-radius-19 {
  border-radius: 19px;
}

.border-radius-20 {
  border-radius: 20px;
}

.border-radius-21 {
  border-radius: 21px;
}

.border-radius-22 {
  border-radius: 22px;
}

.border-radius-23 {
  border-radius: 23px;
}

.border-radius-24 {
  border-radius: 24px;
}

.border-radius-25 {
  border-radius: 25px;
}

.border-radius-26 {
  border-radius: 26px;
}

.border-radius-27 {
  border-radius: 27px;
}

.border-radius-28 {
  border-radius: 28px;
}

.border-radius-29 {
  border-radius: 29px;
}

.border-radius-30 {
  border-radius: 30px;
}

.border-radius-31 {
  border-radius: 31px;
}

.border-radius-32 {
  border-radius: 32px;
}

.border-radius-33 {
  border-radius: 33px;
}

.border-radius-34 {
  border-radius: 34px;
}

.border-radius-35 {
  border-radius: 35px;
}

.border-radius-36 {
  border-radius: 36px;
}

.border-radius-37 {
  border-radius: 37px;
}

.border-radius-38 {
  border-radius: 38px;
}

.border-radius-39 {
  border-radius: 39px;
}

.border-radius-40 {
  border-radius: 40px;
}

.border-radius-41 {
  border-radius: 41px;
}

.border-radius-42 {
  border-radius: 42px;
}

.border-radius-43 {
  border-radius: 43px;
}

.border-radius-44 {
  border-radius: 44px;
}

.border-radius-45 {
  border-radius: 45px;
}

.border-radius-46 {
  border-radius: 46px;
}

.border-radius-47 {
  border-radius: 47px;
}

.border-radius-48 {
  border-radius: 48px;
}

.border-radius-49 {
  border-radius: 49px;
}

.border-radius-50 {
  border-radius: 50px;
}

.border-radius-51 {
  border-radius: 51px;
}

.border-radius-52 {
  border-radius: 52px;
}

.border-radius-53 {
  border-radius: 53px;
}

.border-radius-54 {
  border-radius: 54px;
}

.border-radius-55 {
  border-radius: 55px;
}

.border-radius-56 {
  border-radius: 56px;
}

.border-radius-57 {
  border-radius: 57px;
}

.border-radius-58 {
  border-radius: 58px;
}

.border-radius-59 {
  border-radius: 59px;
}

.border-radius-60 {
  border-radius: 60px;
}

.border-radius-61 {
  border-radius: 61px;
}

.border-radius-62 {
  border-radius: 62px;
}

.border-radius-63 {
  border-radius: 63px;
}

.border-radius-64 {
  border-radius: 64px;
}

.border-radius-65 {
  border-radius: 65px;
}

.border-radius-66 {
  border-radius: 66px;
}

.border-radius-67 {
  border-radius: 67px;
}

.border-radius-68 {
  border-radius: 68px;
}

.border-radius-69 {
  border-radius: 69px;
}

.border-radius-70 {
  border-radius: 70px;
}

.border-radius-71 {
  border-radius: 71px;
}

.border-radius-72 {
  border-radius: 72px;
}

.border-radius-73 {
  border-radius: 73px;
}

.border-radius-74 {
  border-radius: 74px;
}

.border-radius-75 {
  border-radius: 75px;
}

.border-radius-76 {
  border-radius: 76px;
}

.border-radius-77 {
  border-radius: 77px;
}

.border-radius-78 {
  border-radius: 78px;
}

.border-radius-79 {
  border-radius: 79px;
}

.border-radius-80 {
  border-radius: 80px;
}

.border-radius-81 {
  border-radius: 81px;
}

.border-radius-82 {
  border-radius: 82px;
}

.border-radius-83 {
  border-radius: 83px;
}

.border-radius-84 {
  border-radius: 84px;
}

.border-radius-85 {
  border-radius: 85px;
}

.border-radius-86 {
  border-radius: 86px;
}

.border-radius-87 {
  border-radius: 87px;
}

.border-radius-88 {
  border-radius: 88px;
}

.border-radius-89 {
  border-radius: 89px;
}

.border-radius-90 {
  border-radius: 90px;
}

.border-radius-91 {
  border-radius: 91px;
}

.border-radius-92 {
  border-radius: 92px;
}

.border-radius-93 {
  border-radius: 93px;
}

.border-radius-94 {
  border-radius: 94px;
}

.border-radius-95 {
  border-radius: 95px;
}

.border-radius-96 {
  border-radius: 96px;
}

.border-radius-97 {
  border-radius: 97px;
}

.border-radius-98 {
  border-radius: 98px;
}

.border-radius-99 {
  border-radius: 99px;
}

.border-radius-100 {
  border-radius: 100px;
}

.border-width-0-point-1 {
  border-width: 0.1px;
}

.border-right-width-0-point-1 {
  border-right-width: 0.1px;
}

.border-left-width-0-point-1 {
  border-left-width: 0.1px;
}

.border-top-width-0-point-1 {
  border-top-width: 0.1px;
}

.border-bottom-width-0-point-1 {
  border-bottom-width: 0.1px;
}

.border-width-0-point-2 {
  border-width: 0.2px;
}

.border-right-width-0-point-2 {
  border-right-width: 0.2px;
}

.border-left-width-0-point-2 {
  border-left-width: 0.2px;
}

.border-top-width-0-point-2 {
  border-top-width: 0.2px;
}

.border-bottom-width-0-point-2 {
  border-bottom-width: 0.2px;
}

.border-width-0-point-3 {
  border-width: 0.3px;
}

.border-right-width-0-point-3 {
  border-right-width: 0.3px;
}

.border-left-width-0-point-3 {
  border-left-width: 0.3px;
}

.border-top-width-0-point-3 {
  border-top-width: 0.3px;
}

.border-bottom-width-0-point-3 {
  border-bottom-width: 0.3px;
}

.border-width-0-point-4 {
  border-width: 0.4px;
}

.border-right-width-0-point-4 {
  border-right-width: 0.4px;
}

.border-left-width-0-point-4 {
  border-left-width: 0.4px;
}

.border-top-width-0-point-4 {
  border-top-width: 0.4px;
}

.border-bottom-width-0-point-4 {
  border-bottom-width: 0.4px;
}

.border-width-0-point-5 {
  border-width: 0.5px;
}

.border-right-width-0-point-5 {
  border-right-width: 0.5px;
}

.border-left-width-0-point-5 {
  border-left-width: 0.5px;
}

.border-top-width-0-point-5 {
  border-top-width: 0.5px;
}

.border-bottom-width-0-point-5 {
  border-bottom-width: 0.5px;
}

.border-width-0-point-6 {
  border-width: 0.6px;
}

.border-right-width-0-point-6 {
  border-right-width: 0.6px;
}

.border-left-width-0-point-6 {
  border-left-width: 0.6px;
}

.border-top-width-0-point-6 {
  border-top-width: 0.6px;
}

.border-bottom-width-0-point-6 {
  border-bottom-width: 0.6px;
}

.border-width-0-point-7 {
  border-width: 0.7px;
}

.border-right-width-0-point-7 {
  border-right-width: 0.7px;
}

.border-left-width-0-point-7 {
  border-left-width: 0.7px;
}

.border-top-width-0-point-7 {
  border-top-width: 0.7px;
}

.border-bottom-width-0-point-7 {
  border-bottom-width: 0.7px;
}

.border-width-0-point-8 {
  border-width: 0.8px;
}

.border-right-width-0-point-8 {
  border-right-width: 0.8px;
}

.border-left-width-0-point-8 {
  border-left-width: 0.8px;
}

.border-top-width-0-point-8 {
  border-top-width: 0.8px;
}

.border-bottom-width-0-point-8 {
  border-bottom-width: 0.8px;
}

.border-width-0-point-9 {
  border-width: 0.9px;
}

.border-right-width-0-point-9 {
  border-right-width: 0.9px;
}

.border-left-width-0-point-9 {
  border-left-width: 0.9px;
}

.border-top-width-0-point-9 {
  border-top-width: 0.9px;
}

.border-bottom-width-0-point-9 {
  border-bottom-width: 0.9px;
}

.border-width-1-point-1 {
  border-width: 1.1px;
}

.border-right-width-1-point-1 {
  border-right-width: 1.1px;
}

.border-left-width-1-point-1 {
  border-left-width: 1.1px;
}

.border-top-width-1-point-1 {
  border-top-width: 1.1px;
}

.border-bottom-width-1-point-1 {
  border-bottom-width: 1.1px;
}

.border-width-1-point-2 {
  border-width: 1.2px;
}

.border-right-width-1-point-2 {
  border-right-width: 1.2px;
}

.border-left-width-1-point-2 {
  border-left-width: 1.2px;
}

.border-top-width-1-point-2 {
  border-top-width: 1.2px;
}

.border-bottom-width-1-point-2 {
  border-bottom-width: 1.2px;
}

.border-width-1-point-3 {
  border-width: 1.3px;
}

.border-right-width-1-point-3 {
  border-right-width: 1.3px;
}

.border-left-width-1-point-3 {
  border-left-width: 1.3px;
}

.border-top-width-1-point-3 {
  border-top-width: 1.3px;
}

.border-bottom-width-1-point-3 {
  border-bottom-width: 1.3px;
}

.border-width-1-point-4 {
  border-width: 1.4px;
}

.border-right-width-1-point-4 {
  border-right-width: 1.4px;
}

.border-left-width-1-point-4 {
  border-left-width: 1.4px;
}

.border-top-width-1-point-4 {
  border-top-width: 1.4px;
}

.border-bottom-width-1-point-4 {
  border-bottom-width: 1.4px;
}

.border-width-1-point-5 {
  border-width: 1.5px;
}

.border-right-width-1-point-5 {
  border-right-width: 1.5px;
}

.border-left-width-1-point-5 {
  border-left-width: 1.5px;
}

.border-top-width-1-point-5 {
  border-top-width: 1.5px;
}

.border-bottom-width-1-point-5 {
  border-bottom-width: 1.5px;
}

.border-width-1-point-6 {
  border-width: 1.6px;
}

.border-right-width-1-point-6 {
  border-right-width: 1.6px;
}

.border-left-width-1-point-6 {
  border-left-width: 1.6px;
}

.border-top-width-1-point-6 {
  border-top-width: 1.6px;
}

.border-bottom-width-1-point-6 {
  border-bottom-width: 1.6px;
}

.border-width-1-point-7 {
  border-width: 1.7px;
}

.border-right-width-1-point-7 {
  border-right-width: 1.7px;
}

.border-left-width-1-point-7 {
  border-left-width: 1.7px;
}

.border-top-width-1-point-7 {
  border-top-width: 1.7px;
}

.border-bottom-width-1-point-7 {
  border-bottom-width: 1.7px;
}

.border-width-1-point-8 {
  border-width: 1.8px;
}

.border-right-width-1-point-8 {
  border-right-width: 1.8px;
}

.border-left-width-1-point-8 {
  border-left-width: 1.8px;
}

.border-top-width-1-point-8 {
  border-top-width: 1.8px;
}

.border-bottom-width-1-point-8 {
  border-bottom-width: 1.8px;
}

.border-width-1-point-9 {
  border-width: 1.9px;
}

.border-right-width-1-point-9 {
  border-right-width: 1.9px;
}

.border-left-width-1-point-9 {
  border-left-width: 1.9px;
}

.border-top-width-1-point-9 {
  border-top-width: 1.9px;
}

.border-bottom-width-1-point-9 {
  border-bottom-width: 1.9px;
}

.border-width-2-point-1 {
  border-width: 2.1px;
}

.border-right-width-2-point-1 {
  border-right-width: 2.1px;
}

.border-left-width-2-point-1 {
  border-left-width: 2.1px;
}

.border-top-width-2-point-1 {
  border-top-width: 2.1px;
}

.border-bottom-width-2-point-1 {
  border-bottom-width: 2.1px;
}

.border-width-2-point-2 {
  border-width: 2.2px;
}

.border-right-width-2-point-2 {
  border-right-width: 2.2px;
}

.border-left-width-2-point-2 {
  border-left-width: 2.2px;
}

.border-top-width-2-point-2 {
  border-top-width: 2.2px;
}

.border-bottom-width-2-point-2 {
  border-bottom-width: 2.2px;
}

.border-width-2-point-3 {
  border-width: 2.3px;
}

.border-right-width-2-point-3 {
  border-right-width: 2.3px;
}

.border-left-width-2-point-3 {
  border-left-width: 2.3px;
}

.border-top-width-2-point-3 {
  border-top-width: 2.3px;
}

.border-bottom-width-2-point-3 {
  border-bottom-width: 2.3px;
}

.border-width-2-point-4 {
  border-width: 2.4px;
}

.border-right-width-2-point-4 {
  border-right-width: 2.4px;
}

.border-left-width-2-point-4 {
  border-left-width: 2.4px;
}

.border-top-width-2-point-4 {
  border-top-width: 2.4px;
}

.border-bottom-width-2-point-4 {
  border-bottom-width: 2.4px;
}

.border-width-2-point-5 {
  border-width: 2.5px;
}

.border-right-width-2-point-5 {
  border-right-width: 2.5px;
}

.border-left-width-2-point-5 {
  border-left-width: 2.5px;
}

.border-top-width-2-point-5 {
  border-top-width: 2.5px;
}

.border-bottom-width-2-point-5 {
  border-bottom-width: 2.5px;
}

.border-width-2-point-6 {
  border-width: 2.6px;
}

.border-right-width-2-point-6 {
  border-right-width: 2.6px;
}

.border-left-width-2-point-6 {
  border-left-width: 2.6px;
}

.border-top-width-2-point-6 {
  border-top-width: 2.6px;
}

.border-bottom-width-2-point-6 {
  border-bottom-width: 2.6px;
}

.border-width-2-point-7 {
  border-width: 2.7px;
}

.border-right-width-2-point-7 {
  border-right-width: 2.7px;
}

.border-left-width-2-point-7 {
  border-left-width: 2.7px;
}

.border-top-width-2-point-7 {
  border-top-width: 2.7px;
}

.border-bottom-width-2-point-7 {
  border-bottom-width: 2.7px;
}

.border-width-2-point-8 {
  border-width: 2.8px;
}

.border-right-width-2-point-8 {
  border-right-width: 2.8px;
}

.border-left-width-2-point-8 {
  border-left-width: 2.8px;
}

.border-top-width-2-point-8 {
  border-top-width: 2.8px;
}

.border-bottom-width-2-point-8 {
  border-bottom-width: 2.8px;
}

.border-width-2-point-9 {
  border-width: 2.9px;
}

.border-right-width-2-point-9 {
  border-right-width: 2.9px;
}

.border-left-width-2-point-9 {
  border-left-width: 2.9px;
}

.border-top-width-2-point-9 {
  border-top-width: 2.9px;
}

.border-bottom-width-2-point-9 {
  border-bottom-width: 2.9px;
}

.border-width-3-point-1 {
  border-width: 3.1px;
}

.border-right-width-3-point-1 {
  border-right-width: 3.1px;
}

.border-left-width-3-point-1 {
  border-left-width: 3.1px;
}

.border-top-width-3-point-1 {
  border-top-width: 3.1px;
}

.border-bottom-width-3-point-1 {
  border-bottom-width: 3.1px;
}

.border-width-3-point-2 {
  border-width: 3.2px;
}

.border-right-width-3-point-2 {
  border-right-width: 3.2px;
}

.border-left-width-3-point-2 {
  border-left-width: 3.2px;
}

.border-top-width-3-point-2 {
  border-top-width: 3.2px;
}

.border-bottom-width-3-point-2 {
  border-bottom-width: 3.2px;
}

.border-width-3-point-3 {
  border-width: 3.3px;
}

.border-right-width-3-point-3 {
  border-right-width: 3.3px;
}

.border-left-width-3-point-3 {
  border-left-width: 3.3px;
}

.border-top-width-3-point-3 {
  border-top-width: 3.3px;
}

.border-bottom-width-3-point-3 {
  border-bottom-width: 3.3px;
}

.border-width-3-point-4 {
  border-width: 3.4px;
}

.border-right-width-3-point-4 {
  border-right-width: 3.4px;
}

.border-left-width-3-point-4 {
  border-left-width: 3.4px;
}

.border-top-width-3-point-4 {
  border-top-width: 3.4px;
}

.border-bottom-width-3-point-4 {
  border-bottom-width: 3.4px;
}

.border-width-3-point-5 {
  border-width: 3.5px;
}

.border-right-width-3-point-5 {
  border-right-width: 3.5px;
}

.border-left-width-3-point-5 {
  border-left-width: 3.5px;
}

.border-top-width-3-point-5 {
  border-top-width: 3.5px;
}

.border-bottom-width-3-point-5 {
  border-bottom-width: 3.5px;
}

.border-width-3-point-6 {
  border-width: 3.6px;
}

.border-right-width-3-point-6 {
  border-right-width: 3.6px;
}

.border-left-width-3-point-6 {
  border-left-width: 3.6px;
}

.border-top-width-3-point-6 {
  border-top-width: 3.6px;
}

.border-bottom-width-3-point-6 {
  border-bottom-width: 3.6px;
}

.border-width-3-point-7 {
  border-width: 3.7px;
}

.border-right-width-3-point-7 {
  border-right-width: 3.7px;
}

.border-left-width-3-point-7 {
  border-left-width: 3.7px;
}

.border-top-width-3-point-7 {
  border-top-width: 3.7px;
}

.border-bottom-width-3-point-7 {
  border-bottom-width: 3.7px;
}

.border-width-3-point-8 {
  border-width: 3.8px;
}

.border-right-width-3-point-8 {
  border-right-width: 3.8px;
}

.border-left-width-3-point-8 {
  border-left-width: 3.8px;
}

.border-top-width-3-point-8 {
  border-top-width: 3.8px;
}

.border-bottom-width-3-point-8 {
  border-bottom-width: 3.8px;
}

.border-width-3-point-9 {
  border-width: 3.9px;
}

.border-right-width-3-point-9 {
  border-right-width: 3.9px;
}

.border-left-width-3-point-9 {
  border-left-width: 3.9px;
}

.border-top-width-3-point-9 {
  border-top-width: 3.9px;
}

.border-bottom-width-3-point-9 {
  border-bottom-width: 3.9px;
}

.border-width-4-point-1 {
  border-width: 4.1px;
}

.border-right-width-4-point-1 {
  border-right-width: 4.1px;
}

.border-left-width-4-point-1 {
  border-left-width: 4.1px;
}

.border-top-width-4-point-1 {
  border-top-width: 4.1px;
}

.border-bottom-width-4-point-1 {
  border-bottom-width: 4.1px;
}

.border-width-4-point-2 {
  border-width: 4.2px;
}

.border-right-width-4-point-2 {
  border-right-width: 4.2px;
}

.border-left-width-4-point-2 {
  border-left-width: 4.2px;
}

.border-top-width-4-point-2 {
  border-top-width: 4.2px;
}

.border-bottom-width-4-point-2 {
  border-bottom-width: 4.2px;
}

.border-width-4-point-3 {
  border-width: 4.3px;
}

.border-right-width-4-point-3 {
  border-right-width: 4.3px;
}

.border-left-width-4-point-3 {
  border-left-width: 4.3px;
}

.border-top-width-4-point-3 {
  border-top-width: 4.3px;
}

.border-bottom-width-4-point-3 {
  border-bottom-width: 4.3px;
}

.border-width-4-point-4 {
  border-width: 4.4px;
}

.border-right-width-4-point-4 {
  border-right-width: 4.4px;
}

.border-left-width-4-point-4 {
  border-left-width: 4.4px;
}

.border-top-width-4-point-4 {
  border-top-width: 4.4px;
}

.border-bottom-width-4-point-4 {
  border-bottom-width: 4.4px;
}

.border-width-4-point-5 {
  border-width: 4.5px;
}

.border-right-width-4-point-5 {
  border-right-width: 4.5px;
}

.border-left-width-4-point-5 {
  border-left-width: 4.5px;
}

.border-top-width-4-point-5 {
  border-top-width: 4.5px;
}

.border-bottom-width-4-point-5 {
  border-bottom-width: 4.5px;
}

.border-width-4-point-6 {
  border-width: 4.6px;
}

.border-right-width-4-point-6 {
  border-right-width: 4.6px;
}

.border-left-width-4-point-6 {
  border-left-width: 4.6px;
}

.border-top-width-4-point-6 {
  border-top-width: 4.6px;
}

.border-bottom-width-4-point-6 {
  border-bottom-width: 4.6px;
}

.border-width-4-point-7 {
  border-width: 4.7px;
}

.border-right-width-4-point-7 {
  border-right-width: 4.7px;
}

.border-left-width-4-point-7 {
  border-left-width: 4.7px;
}

.border-top-width-4-point-7 {
  border-top-width: 4.7px;
}

.border-bottom-width-4-point-7 {
  border-bottom-width: 4.7px;
}

.border-width-4-point-8 {
  border-width: 4.8px;
}

.border-right-width-4-point-8 {
  border-right-width: 4.8px;
}

.border-left-width-4-point-8 {
  border-left-width: 4.8px;
}

.border-top-width-4-point-8 {
  border-top-width: 4.8px;
}

.border-bottom-width-4-point-8 {
  border-bottom-width: 4.8px;
}

.border-width-4-point-9 {
  border-width: 4.9px;
}

.border-right-width-4-point-9 {
  border-right-width: 4.9px;
}

.border-left-width-4-point-9 {
  border-left-width: 4.9px;
}

.border-top-width-4-point-9 {
  border-top-width: 4.9px;
}

.border-bottom-width-4-point-9 {
  border-bottom-width: 4.9px;
}

.border-width-5-point-1 {
  border-width: 5.1px;
}

.border-right-width-5-point-1 {
  border-right-width: 5.1px;
}

.border-left-width-5-point-1 {
  border-left-width: 5.1px;
}

.border-top-width-5-point-1 {
  border-top-width: 5.1px;
}

.border-bottom-width-5-point-1 {
  border-bottom-width: 5.1px;
}

.border-width-5-point-2 {
  border-width: 5.2px;
}

.border-right-width-5-point-2 {
  border-right-width: 5.2px;
}

.border-left-width-5-point-2 {
  border-left-width: 5.2px;
}

.border-top-width-5-point-2 {
  border-top-width: 5.2px;
}

.border-bottom-width-5-point-2 {
  border-bottom-width: 5.2px;
}

.border-width-5-point-3 {
  border-width: 5.3px;
}

.border-right-width-5-point-3 {
  border-right-width: 5.3px;
}

.border-left-width-5-point-3 {
  border-left-width: 5.3px;
}

.border-top-width-5-point-3 {
  border-top-width: 5.3px;
}

.border-bottom-width-5-point-3 {
  border-bottom-width: 5.3px;
}

.border-width-5-point-4 {
  border-width: 5.4px;
}

.border-right-width-5-point-4 {
  border-right-width: 5.4px;
}

.border-left-width-5-point-4 {
  border-left-width: 5.4px;
}

.border-top-width-5-point-4 {
  border-top-width: 5.4px;
}

.border-bottom-width-5-point-4 {
  border-bottom-width: 5.4px;
}

.border-width-5-point-5 {
  border-width: 5.5px;
}

.border-right-width-5-point-5 {
  border-right-width: 5.5px;
}

.border-left-width-5-point-5 {
  border-left-width: 5.5px;
}

.border-top-width-5-point-5 {
  border-top-width: 5.5px;
}

.border-bottom-width-5-point-5 {
  border-bottom-width: 5.5px;
}

.border-width-5-point-6 {
  border-width: 5.6px;
}

.border-right-width-5-point-6 {
  border-right-width: 5.6px;
}

.border-left-width-5-point-6 {
  border-left-width: 5.6px;
}

.border-top-width-5-point-6 {
  border-top-width: 5.6px;
}

.border-bottom-width-5-point-6 {
  border-bottom-width: 5.6px;
}

.border-width-5-point-7 {
  border-width: 5.7px;
}

.border-right-width-5-point-7 {
  border-right-width: 5.7px;
}

.border-left-width-5-point-7 {
  border-left-width: 5.7px;
}

.border-top-width-5-point-7 {
  border-top-width: 5.7px;
}

.border-bottom-width-5-point-7 {
  border-bottom-width: 5.7px;
}

.border-width-5-point-8 {
  border-width: 5.8px;
}

.border-right-width-5-point-8 {
  border-right-width: 5.8px;
}

.border-left-width-5-point-8 {
  border-left-width: 5.8px;
}

.border-top-width-5-point-8 {
  border-top-width: 5.8px;
}

.border-bottom-width-5-point-8 {
  border-bottom-width: 5.8px;
}

.border-width-5-point-9 {
  border-width: 5.9px;
}

.border-right-width-5-point-9 {
  border-right-width: 5.9px;
}

.border-left-width-5-point-9 {
  border-left-width: 5.9px;
}

.border-top-width-5-point-9 {
  border-top-width: 5.9px;
}

.border-bottom-width-5-point-9 {
  border-bottom-width: 5.9px;
}

.border-width-6-point-1 {
  border-width: 6.1px;
}

.border-right-width-6-point-1 {
  border-right-width: 6.1px;
}

.border-left-width-6-point-1 {
  border-left-width: 6.1px;
}

.border-top-width-6-point-1 {
  border-top-width: 6.1px;
}

.border-bottom-width-6-point-1 {
  border-bottom-width: 6.1px;
}

.border-width-6-point-2 {
  border-width: 6.2px;
}

.border-right-width-6-point-2 {
  border-right-width: 6.2px;
}

.border-left-width-6-point-2 {
  border-left-width: 6.2px;
}

.border-top-width-6-point-2 {
  border-top-width: 6.2px;
}

.border-bottom-width-6-point-2 {
  border-bottom-width: 6.2px;
}

.border-width-6-point-3 {
  border-width: 6.3px;
}

.border-right-width-6-point-3 {
  border-right-width: 6.3px;
}

.border-left-width-6-point-3 {
  border-left-width: 6.3px;
}

.border-top-width-6-point-3 {
  border-top-width: 6.3px;
}

.border-bottom-width-6-point-3 {
  border-bottom-width: 6.3px;
}

.border-width-6-point-4 {
  border-width: 6.4px;
}

.border-right-width-6-point-4 {
  border-right-width: 6.4px;
}

.border-left-width-6-point-4 {
  border-left-width: 6.4px;
}

.border-top-width-6-point-4 {
  border-top-width: 6.4px;
}

.border-bottom-width-6-point-4 {
  border-bottom-width: 6.4px;
}

.border-width-6-point-5 {
  border-width: 6.5px;
}

.border-right-width-6-point-5 {
  border-right-width: 6.5px;
}

.border-left-width-6-point-5 {
  border-left-width: 6.5px;
}

.border-top-width-6-point-5 {
  border-top-width: 6.5px;
}

.border-bottom-width-6-point-5 {
  border-bottom-width: 6.5px;
}

.border-width-6-point-6 {
  border-width: 6.6px;
}

.border-right-width-6-point-6 {
  border-right-width: 6.6px;
}

.border-left-width-6-point-6 {
  border-left-width: 6.6px;
}

.border-top-width-6-point-6 {
  border-top-width: 6.6px;
}

.border-bottom-width-6-point-6 {
  border-bottom-width: 6.6px;
}

.border-width-6-point-7 {
  border-width: 6.7px;
}

.border-right-width-6-point-7 {
  border-right-width: 6.7px;
}

.border-left-width-6-point-7 {
  border-left-width: 6.7px;
}

.border-top-width-6-point-7 {
  border-top-width: 6.7px;
}

.border-bottom-width-6-point-7 {
  border-bottom-width: 6.7px;
}

.border-width-6-point-8 {
  border-width: 6.8px;
}

.border-right-width-6-point-8 {
  border-right-width: 6.8px;
}

.border-left-width-6-point-8 {
  border-left-width: 6.8px;
}

.border-top-width-6-point-8 {
  border-top-width: 6.8px;
}

.border-bottom-width-6-point-8 {
  border-bottom-width: 6.8px;
}

.border-width-6-point-9 {
  border-width: 6.9px;
}

.border-right-width-6-point-9 {
  border-right-width: 6.9px;
}

.border-left-width-6-point-9 {
  border-left-width: 6.9px;
}

.border-top-width-6-point-9 {
  border-top-width: 6.9px;
}

.border-bottom-width-6-point-9 {
  border-bottom-width: 6.9px;
}

.border-width-7-point-1 {
  border-width: 7.1px;
}

.border-right-width-7-point-1 {
  border-right-width: 7.1px;
}

.border-left-width-7-point-1 {
  border-left-width: 7.1px;
}

.border-top-width-7-point-1 {
  border-top-width: 7.1px;
}

.border-bottom-width-7-point-1 {
  border-bottom-width: 7.1px;
}

.border-width-7-point-2 {
  border-width: 7.2px;
}

.border-right-width-7-point-2 {
  border-right-width: 7.2px;
}

.border-left-width-7-point-2 {
  border-left-width: 7.2px;
}

.border-top-width-7-point-2 {
  border-top-width: 7.2px;
}

.border-bottom-width-7-point-2 {
  border-bottom-width: 7.2px;
}

.border-width-7-point-3 {
  border-width: 7.3px;
}

.border-right-width-7-point-3 {
  border-right-width: 7.3px;
}

.border-left-width-7-point-3 {
  border-left-width: 7.3px;
}

.border-top-width-7-point-3 {
  border-top-width: 7.3px;
}

.border-bottom-width-7-point-3 {
  border-bottom-width: 7.3px;
}

.border-width-7-point-4 {
  border-width: 7.4px;
}

.border-right-width-7-point-4 {
  border-right-width: 7.4px;
}

.border-left-width-7-point-4 {
  border-left-width: 7.4px;
}

.border-top-width-7-point-4 {
  border-top-width: 7.4px;
}

.border-bottom-width-7-point-4 {
  border-bottom-width: 7.4px;
}

.border-width-7-point-5 {
  border-width: 7.5px;
}

.border-right-width-7-point-5 {
  border-right-width: 7.5px;
}

.border-left-width-7-point-5 {
  border-left-width: 7.5px;
}

.border-top-width-7-point-5 {
  border-top-width: 7.5px;
}

.border-bottom-width-7-point-5 {
  border-bottom-width: 7.5px;
}

.border-width-7-point-6 {
  border-width: 7.6px;
}

.border-right-width-7-point-6 {
  border-right-width: 7.6px;
}

.border-left-width-7-point-6 {
  border-left-width: 7.6px;
}

.border-top-width-7-point-6 {
  border-top-width: 7.6px;
}

.border-bottom-width-7-point-6 {
  border-bottom-width: 7.6px;
}

.border-width-7-point-7 {
  border-width: 7.7px;
}

.border-right-width-7-point-7 {
  border-right-width: 7.7px;
}

.border-left-width-7-point-7 {
  border-left-width: 7.7px;
}

.border-top-width-7-point-7 {
  border-top-width: 7.7px;
}

.border-bottom-width-7-point-7 {
  border-bottom-width: 7.7px;
}

.border-width-7-point-8 {
  border-width: 7.8px;
}

.border-right-width-7-point-8 {
  border-right-width: 7.8px;
}

.border-left-width-7-point-8 {
  border-left-width: 7.8px;
}

.border-top-width-7-point-8 {
  border-top-width: 7.8px;
}

.border-bottom-width-7-point-8 {
  border-bottom-width: 7.8px;
}

.border-width-7-point-9 {
  border-width: 7.9px;
}

.border-right-width-7-point-9 {
  border-right-width: 7.9px;
}

.border-left-width-7-point-9 {
  border-left-width: 7.9px;
}

.border-top-width-7-point-9 {
  border-top-width: 7.9px;
}

.border-bottom-width-7-point-9 {
  border-bottom-width: 7.9px;
}

.border-width-8-point-1 {
  border-width: 8.1px;
}

.border-right-width-8-point-1 {
  border-right-width: 8.1px;
}

.border-left-width-8-point-1 {
  border-left-width: 8.1px;
}

.border-top-width-8-point-1 {
  border-top-width: 8.1px;
}

.border-bottom-width-8-point-1 {
  border-bottom-width: 8.1px;
}

.border-width-8-point-2 {
  border-width: 8.2px;
}

.border-right-width-8-point-2 {
  border-right-width: 8.2px;
}

.border-left-width-8-point-2 {
  border-left-width: 8.2px;
}

.border-top-width-8-point-2 {
  border-top-width: 8.2px;
}

.border-bottom-width-8-point-2 {
  border-bottom-width: 8.2px;
}

.border-width-8-point-3 {
  border-width: 8.3px;
}

.border-right-width-8-point-3 {
  border-right-width: 8.3px;
}

.border-left-width-8-point-3 {
  border-left-width: 8.3px;
}

.border-top-width-8-point-3 {
  border-top-width: 8.3px;
}

.border-bottom-width-8-point-3 {
  border-bottom-width: 8.3px;
}

.border-width-8-point-4 {
  border-width: 8.4px;
}

.border-right-width-8-point-4 {
  border-right-width: 8.4px;
}

.border-left-width-8-point-4 {
  border-left-width: 8.4px;
}

.border-top-width-8-point-4 {
  border-top-width: 8.4px;
}

.border-bottom-width-8-point-4 {
  border-bottom-width: 8.4px;
}

.border-width-8-point-5 {
  border-width: 8.5px;
}

.border-right-width-8-point-5 {
  border-right-width: 8.5px;
}

.border-left-width-8-point-5 {
  border-left-width: 8.5px;
}

.border-top-width-8-point-5 {
  border-top-width: 8.5px;
}

.border-bottom-width-8-point-5 {
  border-bottom-width: 8.5px;
}

.border-width-8-point-6 {
  border-width: 8.6px;
}

.border-right-width-8-point-6 {
  border-right-width: 8.6px;
}

.border-left-width-8-point-6 {
  border-left-width: 8.6px;
}

.border-top-width-8-point-6 {
  border-top-width: 8.6px;
}

.border-bottom-width-8-point-6 {
  border-bottom-width: 8.6px;
}

.border-width-8-point-7 {
  border-width: 8.7px;
}

.border-right-width-8-point-7 {
  border-right-width: 8.7px;
}

.border-left-width-8-point-7 {
  border-left-width: 8.7px;
}

.border-top-width-8-point-7 {
  border-top-width: 8.7px;
}

.border-bottom-width-8-point-7 {
  border-bottom-width: 8.7px;
}

.border-width-8-point-8 {
  border-width: 8.8px;
}

.border-right-width-8-point-8 {
  border-right-width: 8.8px;
}

.border-left-width-8-point-8 {
  border-left-width: 8.8px;
}

.border-top-width-8-point-8 {
  border-top-width: 8.8px;
}

.border-bottom-width-8-point-8 {
  border-bottom-width: 8.8px;
}

.border-width-8-point-9 {
  border-width: 8.9px;
}

.border-right-width-8-point-9 {
  border-right-width: 8.9px;
}

.border-left-width-8-point-9 {
  border-left-width: 8.9px;
}

.border-top-width-8-point-9 {
  border-top-width: 8.9px;
}

.border-bottom-width-8-point-9 {
  border-bottom-width: 8.9px;
}

.border-width-9-point-1 {
  border-width: 9.1px;
}

.border-right-width-9-point-1 {
  border-right-width: 9.1px;
}

.border-left-width-9-point-1 {
  border-left-width: 9.1px;
}

.border-top-width-9-point-1 {
  border-top-width: 9.1px;
}

.border-bottom-width-9-point-1 {
  border-bottom-width: 9.1px;
}

.border-width-9-point-2 {
  border-width: 9.2px;
}

.border-right-width-9-point-2 {
  border-right-width: 9.2px;
}

.border-left-width-9-point-2 {
  border-left-width: 9.2px;
}

.border-top-width-9-point-2 {
  border-top-width: 9.2px;
}

.border-bottom-width-9-point-2 {
  border-bottom-width: 9.2px;
}

.border-width-9-point-3 {
  border-width: 9.3px;
}

.border-right-width-9-point-3 {
  border-right-width: 9.3px;
}

.border-left-width-9-point-3 {
  border-left-width: 9.3px;
}

.border-top-width-9-point-3 {
  border-top-width: 9.3px;
}

.border-bottom-width-9-point-3 {
  border-bottom-width: 9.3px;
}

.border-width-9-point-4 {
  border-width: 9.4px;
}

.border-right-width-9-point-4 {
  border-right-width: 9.4px;
}

.border-left-width-9-point-4 {
  border-left-width: 9.4px;
}

.border-top-width-9-point-4 {
  border-top-width: 9.4px;
}

.border-bottom-width-9-point-4 {
  border-bottom-width: 9.4px;
}

.border-width-9-point-5 {
  border-width: 9.5px;
}

.border-right-width-9-point-5 {
  border-right-width: 9.5px;
}

.border-left-width-9-point-5 {
  border-left-width: 9.5px;
}

.border-top-width-9-point-5 {
  border-top-width: 9.5px;
}

.border-bottom-width-9-point-5 {
  border-bottom-width: 9.5px;
}

.border-width-9-point-6 {
  border-width: 9.6px;
}

.border-right-width-9-point-6 {
  border-right-width: 9.6px;
}

.border-left-width-9-point-6 {
  border-left-width: 9.6px;
}

.border-top-width-9-point-6 {
  border-top-width: 9.6px;
}

.border-bottom-width-9-point-6 {
  border-bottom-width: 9.6px;
}

.border-width-9-point-7 {
  border-width: 9.7px;
}

.border-right-width-9-point-7 {
  border-right-width: 9.7px;
}

.border-left-width-9-point-7 {
  border-left-width: 9.7px;
}

.border-top-width-9-point-7 {
  border-top-width: 9.7px;
}

.border-bottom-width-9-point-7 {
  border-bottom-width: 9.7px;
}

.border-width-9-point-8 {
  border-width: 9.8px;
}

.border-right-width-9-point-8 {
  border-right-width: 9.8px;
}

.border-left-width-9-point-8 {
  border-left-width: 9.8px;
}

.border-top-width-9-point-8 {
  border-top-width: 9.8px;
}

.border-bottom-width-9-point-8 {
  border-bottom-width: 9.8px;
}

.border-width-9-point-9 {
  border-width: 9.9px;
}

.border-right-width-9-point-9 {
  border-right-width: 9.9px;
}

.border-left-width-9-point-9 {
  border-left-width: 9.9px;
}

.border-top-width-9-point-9 {
  border-top-width: 9.9px;
}

.border-bottom-width-9-point-9 {
  border-bottom-width: 9.9px;
}
/*# sourceMappingURL=borders.css.map */