.p-1 {
  padding: 6.472px;
}

.p-2 {
  padding: 12.944px;
}

.p-3 {
  padding: 19.416px;
}

.p-4 {
  padding: 25.888px;
}

.p-5 {
  padding: 32.36px;
}

.p-6 {
  padding: 38.832px;
}

.p-7 {
  padding: 45.304px;
}

.p-8 {
  padding: 51.776px;
}

.p-9 {
  padding: 58.248px;
}

.p-10 {
  padding: 64.72px;
}

.p-11 {
  padding: 71.192px;
}

.p-12 {
  padding: 77.664px;
}

.p-13 {
  padding: 84.136px;
}

.p-14 {
  padding: 90.608px;
}

.p-15 {
  padding: 97.08px;
}

.p-16 {
  padding: 103.552px;
}

.p-17 {
  padding: 110.024px;
}

.p-18 {
  padding: 116.496px;
}

.p-19 {
  padding: 122.968px;
}

.p-20 {
  padding: 129.44px;
}

.p-right-1 {
  padding-right: 6.472px;
}

.p-right-2 {
  padding-right: 12.944px;
}

.p-right-3 {
  padding-right: 19.416px;
}

.p-right-4 {
  padding-right: 25.888px;
}

.p-right-5 {
  padding-right: 32.36px;
}

.p-right-6 {
  padding-right: 38.832px;
}

.p-right-7 {
  padding-right: 45.304px;
}

.p-right-8 {
  padding-right: 51.776px;
}

.p-right-9 {
  padding-right: 58.248px;
}

.p-right-10 {
  padding-right: 64.72px;
}

.p-right-11 {
  padding-right: 71.192px;
}

.p-right-12 {
  padding-right: 77.664px;
}

.p-right-13 {
  padding-right: 84.136px;
}

.p-right-14 {
  padding-right: 90.608px;
}

.p-right-15 {
  padding-right: 97.08px;
}

.p-right-16 {
  padding-right: 103.552px;
}

.p-right-17 {
  padding-right: 110.024px;
}

.p-right-18 {
  padding-right: 116.496px;
}

.p-right-19 {
  padding-right: 122.968px;
}

.p-right-20 {
  padding-right: 129.44px;
}

.p-left-1 {
  padding-left: 6.472px;
}

.p-left-2 {
  padding-left: 12.944px;
}

.p-left-3 {
  padding-left: 19.416px;
}

.p-left-4 {
  padding-left: 25.888px;
}

.p-left-5 {
  padding-left: 32.36px;
}

.p-left-6 {
  padding-left: 38.832px;
}

.p-left-7 {
  padding-left: 45.304px;
}

.p-left-8 {
  padding-left: 51.776px;
}

.p-left-9 {
  padding-left: 58.248px;
}

.p-left-10 {
  padding-left: 64.72px;
}

.p-left-11 {
  padding-left: 71.192px;
}

.p-left-12 {
  padding-left: 77.664px;
}

.p-left-13 {
  padding-left: 84.136px;
}

.p-left-14 {
  padding-left: 90.608px;
}

.p-left-15 {
  padding-left: 97.08px;
}

.p-left-16 {
  padding-left: 103.552px;
}

.p-left-17 {
  padding-left: 110.024px;
}

.p-left-18 {
  padding-left: 116.496px;
}

.p-left-19 {
  padding-left: 122.968px;
}

.p-left-20 {
  padding-left: 129.44px;
}

.p-top-1 {
  padding-top: 6.472px;
}

.p-top-2 {
  padding-top: 12.944px;
}

.p-top-3 {
  padding-top: 19.416px;
}

.p-top-4 {
  padding-top: 25.888px;
}

.p-top-5 {
  padding-top: 32.36px;
}

.p-top-6 {
  padding-top: 38.832px;
}

.p-top-7 {
  padding-top: 45.304px;
}

.p-top-8 {
  padding-top: 51.776px;
}

.p-top-9 {
  padding-top: 58.248px;
}

.p-top-10 {
  padding-top: 64.72px;
}

.p-top-11 {
  padding-top: 71.192px;
}

.p-top-12 {
  padding-top: 77.664px;
}

.p-top-13 {
  padding-top: 84.136px;
}

.p-top-14 {
  padding-top: 90.608px;
}

.p-top-15 {
  padding-top: 97.08px;
}

.p-top-16 {
  padding-top: 103.552px;
}

.p-top-17 {
  padding-top: 110.024px;
}

.p-top-18 {
  padding-top: 116.496px;
}

.p-top-19 {
  padding-top: 122.968px;
}

.p-top-20 {
  padding-top: 129.44px;
}

.p-bottom-2 {
  padding-bottom: 12.944px;
}

.p-bottom-3 {
  padding-bottom: 19.416px;
}

.p-bottom-4 {
  padding-bottom: 25.888px;
}

.p-bottom-5 {
  padding-bottom: 32.36px;
}

.p-bottom-6 {
  padding-bottom: 38.832px;
}

.p-bottom-7 {
  padding-bottom: 45.304px;
}

.p-bottom-8 {
  padding-bottom: 51.776px;
}

.p-bottom-9 {
  padding-bottom: 58.248px;
}

.p-bottom-10 {
  padding-bottom: 64.72px;
}

.p-bottom-11 {
  padding-bottom: 71.192px;
}

.p-bottom-12 {
  padding-bottom: 77.664px;
}

.p-bottom-13 {
  padding-bottom: 84.136px;
}

.p-bottom-14 {
  padding-bottom: 90.608px;
}

.p-bottom-15 {
  padding-bottom: 97.08px;
}

.p-bottom-16 {
  padding-bottom: 103.552px;
}

.p-bottom-17 {
  padding-bottom: 110.024px;
}

.p-bottom-18 {
  padding-bottom: 116.496px;
}

.p-bottom-19 {
  padding-bottom: 122.968px;
}

.p-bottom-20 {
  padding-bottom: 129.44px;
}
/*# sourceMappingURL=paddings.css.map */