.p-1 {
  padding: 6.412px;
}

.p-2 {
  padding: 12.824px;
}

.p-3 {
  padding: 19.236px;
}

.p-4 {
  padding: 25.648px;
}

.p-5 {
  padding: 32.06px;
}

.p-6 {
  padding: 38.472px;
}

.p-7 {
  padding: 44.884px;
}

.p-8 {
  padding: 51.296px;
}

.p-9 {
  padding: 57.708px;
}

.p-10 {
  padding: 64.12px;
}

.p-11 {
  padding: 70.532px;
}

.p-12 {
  padding: 76.944px;
}

.p-13 {
  padding: 83.356px;
}

.p-14 {
  padding: 89.768px;
}

.p-15 {
  padding: 96.17999999999999px;
}

.p-16 {
  padding: 102.592px;
}

.p-17 {
  padding: 109.004px;
}

.p-18 {
  padding: 115.416px;
}

.p-19 {
  padding: 121.828px;
}

.p-20 {
  padding: 128.24px;
}

.p-top-1 {
  padding-top: 6.412px;
}

.p-top-2 {
  padding-top: 12.824px;
}

.p-top-3 {
  padding-top: 19.236px;
}

.p-top-4 {
  padding-top: 25.648px;
}

.p-top-5 {
  padding-top: 32.06px;
}

.p-top-6 {
  padding-top: 38.472px;
}

.p-top-7 {
  padding-top: 44.884px;
}

.p-top-8 {
  padding-top: 51.296px;
}

.p-top-9 {
  padding-top: 57.708px;
}

.p-top-10 {
  padding-top: 64.12px;
}

.p-top-11 {
  padding-top: 70.532px;
}

.p-top-12 {
  padding-top: 76.944px;
}

.p-top-13 {
  padding-top: 83.356px;
}

.p-top-14 {
  padding-top: 89.768px;
}

.p-top-15 {
  padding-top: 96.17999999999999px;
}

.p-top-16 {
  padding-top: 102.592px;
}

.p-top-17 {
  padding-top: 109.004px;
}

.p-top-18 {
  padding-top: 115.416px;
}

.p-top-19 {
  padding-top: 121.828px;
}

.p-top-20 {
  padding-top: 128.24px;
}

.p-bottom-1 {
  padding-bottom: 6.412px;
}

.p-bottom-2 {
  padding-bottom: 12.824px;
}

.p-bottom-3 {
  padding-bottom: 19.236px;
}

.p-bottom-4 {
  padding-bottom: 25.648px;
}

.p-bottom-5 {
  padding-bottom: 32.06px;
}

.p-bottom-6 {
  padding-bottom: 38.472px;
}

.p-bottom-7 {
  padding-bottom: 44.884px;
}

.p-bottom-8 {
  padding-bottom: 51.296px;
}

.p-bottom-9 {
  padding-bottom: 57.708px;
}

.p-bottom-10 {
  padding-bottom: 64.12px;
}

.p-bottom-11 {
  padding-bottom: 70.532px;
}

.p-bottom-12 {
  padding-bottom: 76.944px;
}

.p-bottom-13 {
  padding-bottom: 83.356px;
}

.p-bottom-14 {
  padding-bottom: 89.768px;
}

.p-bottom-15 {
  padding-bottom: 96.17999999999999px;
}

.p-bottom-16 {
  padding-bottom: 102.592px;
}

.p-bottom-17 {
  padding-bottom: 109.004px;
}

.p-bottom-18 {
  padding-bottom: 115.416px;
}

.p-bottom-19 {
  padding-bottom: 121.828px;
}

.p-bottom-20 {
  padding-bottom: 128.24px;
}

.p-left-1 {
  padding-left: 6.412px;
}

.p-left-2 {
  padding-left: 12.824px;
}

.p-left-3 {
  padding-left: 19.236px;
}

.p-left-4 {
  padding-left: 25.648px;
}

.p-left-5 {
  padding-left: 32.06px;
}

.p-left-6 {
  padding-left: 38.472px;
}

.p-left-7 {
  padding-left: 44.884px;
}

.p-left-8 {
  padding-left: 51.296px;
}

.p-left-9 {
  padding-left: 57.708px;
}

.p-left-10 {
  padding-left: 64.12px;
}

.p-left-11 {
  padding-left: 70.532px;
}

.p-left-12 {
  padding-left: 76.944px;
}

.p-left-13 {
  padding-left: 83.356px;
}

.p-left-14 {
  padding-left: 89.768px;
}

.p-left-15 {
  padding-left: 96.17999999999999px;
}

.p-left-16 {
  padding-left: 102.592px;
}

.p-left-17 {
  padding-left: 109.004px;
}

.p-left-18 {
  padding-left: 115.416px;
}

.p-left-19 {
  padding-left: 121.828px;
}

.p-left-20 {
  padding-left: 128.24px;
}

.p-right-1 {
  padding-right: 6.412px;
}

.p-right-2 {
  padding-right: 12.824px;
}

.p-right-3 {
  padding-right: 19.236px;
}

.p-right-4 {
  padding-right: 25.648px;
}

.p-right-5 {
  padding-right: 32.06px;
}

.p-right-6 {
  padding-right: 38.472px;
}

.p-right-7 {
  padding-right: 44.884px;
}

.p-right-8 {
  padding-right: 51.296px;
}

.p-right-9 {
  padding-right: 57.708px;
}

.p-right-10 {
  padding-right: 64.12px;
}

.p-right-11 {
  padding-right: 70.532px;
}

.p-right-12 {
  padding-right: 76.944px;
}

.p-right-13 {
  padding-right: 83.356px;
}

.p-right-14 {
  padding-right: 89.768px;
}

.p-right-15 {
  padding-right: 96.17999999999999px;
}

.p-right-16 {
  padding-right: 102.592px;
}

.p-right-17 {
  padding-right: 109.004px;
}

.p-right-18 {
  padding-right: 115.416px;
}

.p-right-19 {
  padding-right: 121.828px;
}

.p-right-20 {
  padding-right: 128.24px;
}
/*# sourceMappingURL=paddings.css.map */