@use 'sass:math';

$golden-ratio: 1.618;
$base-unit: 4px;
$max-margin-value: 20;

@function _px-to-rem($value) {
  @return (math.div(round($value), 16px) * 1rem);
}

@for $count from 1 through $max-margin-value {
  .m-#{$count} {
    margin: _px-to-rem(($count * $base-unit * $golden-ratio));
  }
}

@for $count from 1 through $max-margin-value {
  .m-r-#{$count} {
    margin-right: _px-to-rem(($count * $base-unit * $golden-ratio));
  }
}

@for $count from 1 through $max-margin-value {
  .m-l-#{$count} {
    margin-left: _px-to-rem(($count * $base-unit * $golden-ratio));
  }
}

@for $count from 1 through $max-margin-value {
  .m-b-#{$count} {
    margin-bottom: _px-to-rem(($count * $base-unit * $golden-ratio));
  }
}

@for $count from 1 through $max-margin-value {
  .m-t-#{$count} {
    margin-top: _px-to-rem(($count * $base-unit * $golden-ratio));
  }
}

.m-auto {
  margin: auto;
}

.m-right-auto {
  margin-right: auto;
}

.m-left-auto {
  margin-left: auto;
}

.m-top-auto {
  margin-top: auto;
}

.m-bottom-auto {
  margin-bottom: auto;
}

.m-x-auto {
  margin-right: auto;
  margin-left: auto;
}

.m-y-auto {
  margin-top: auto;
  margin-bottom: auto;
}