
// defining some base units and values for margin value generations
// golden-ratio to setup a proper layouting system
// base-unit: to set a base-unit to generate a eccentrictouch-base unit
$goldenRatio: 1.618;
$baseUnit: 2px;

// maximum margin value
$maxMarginValue: 100;

// margin from all sides
@for $count from 1 through $maxMarginValue {
  .m-#{$count} {
    margin: ($count * $baseUnit * $goldenRatio);
  }
}

// margin-right methods
@for $count from 1 through $maxMarginValue {
  .m-right-#{$count} {
    margin-right: ($count * $baseUnit * $goldenRatio);
  }
}

// margin-left methods
@for $count from 1 through $maxMarginValue {
  .m-left-#{$count} {
    margin-left: ($count * $baseUnit * $goldenRatio);
  }
}

// margin-bottom methods
@for $count from 1 through $maxMarginValue {
  .m-bottom-#{$count} {
    margin-bottom: ($count * $baseUnit * $goldenRatio);
  }
}

// margin-top methods
@for $count from 1 through $maxMarginValue {
  .m-top-#{$count} {
    margin-top: ($count * $baseUnit * $goldenRatio);
  }
}

// special margins
.m-auto {
  margin: auto;
}

.m-right-auto {
  margin-right: auto;
}

.m-left-auto {
  margin-left: auto;
}

.m-top-auto {
  margin-top: auto;
}

.m-bottom-auto {
  margin-bottom: auto;
}

.m-x-auto {
  margin-right: auto;
  margin-left: auto;
}

.m-y-auto {
  margin-top: auto;
  margin-bottom: auto;
}

// margins with decimal values - from unit 0.1 to 200.9
@for $margin-base-value from 0 through $maxMarginValue {
	@for $margin-decimal-value from 1 through 9 {
		// margin-default values: to add margin from all the sides of an HTML element
		.m-#{$margin-base-value}pt#{$margin-decimal-value} {
			margin: #{($margin-base-value * 10 + $margin-decimal-value)/10}px;
		}
		.m-right-#{$margin-base-value}pt#{$margin-decimal-value} {
			margin-right: #{($margin-base-value * 10 + $margin-decimal-value)/10}px;
		}
		.m-left-#{$margin-base-value}pt#{$margin-decimal-value} {
			margin-left: #{($margin-base-value * 10 + $margin-decimal-value)/10}px;
		}
		.m-top-#{$margin-base-value}pt#{$margin-decimal-value} {
			margin-top: #{($margin-base-value * 10 + $margin-decimal-value)/10}px;
		}
		.m-bottom-#{$margin-base-value}pt#{$margin-decimal-value} {
			margin-bottom: #{($margin-base-value * 10 + $margin-decimal-value)/10}px;
		}
    .m-x-#{margin-base-value}pt#{$margin-decimal-value} {
      margin-right: #{($margin-base-value * 10 + $margin-decimal-value)/10}px;
      margin-left: #{($margin-base-value * 10 + $margin-decimal-value)/10}px;;
    }
    .m-y-#{margin-base-value}pt#{$margin-decimal-value} {
      margin-top: #{($margin-base-value * 10 + $margin-decimal-value)/10}px;
      margin-bottom: #{($margin-base-value * 10 + $margin-decimal-value)/10}px;
    }
	}
}


