

$goldenRatio: 1.618;
$baseUnit: 4px;

// maximum margin value
$maxMarginValue: 20;

// margin from all sides
@for $count from 1 through $maxMarginValue {
  .m-#{$count} {
    margin: ($count * $baseUnit * $goldenRatio);
  }
}

// margin-right methods
@for $count from 1 through $maxMarginValue {
  .m-right-#{$count} {
    margin-right: ($count * $baseUnit * $goldenRatio);
  }
}

// margin-left methods
@for $count from 1 through $maxMarginValue {
  .m-left-#{$count} {
    margin-left: ($count * $baseUnit * $goldenRatio);
  }
}

// margin-bottom methods
@for $count from 1 through $maxMarginValue {
  .m-bottom-#{$count} {
    margin-bottom: ($count * $baseUnit * $goldenRatio);
  }
}

// margin-top methods
@for $count from 1 through $maxMarginValue {
  .m-top-#{$count} {
    margin-top: ($count * $baseUnit * $goldenRatio);
  }
}

// special margins
.m-auto {
  margin: auto;
}

.m-right-auto {
  margin-right: auto;
}

.m-left-auto {
  margin-left: auto;
}

.m-top-auto {
  margin-top: auto;
}

.m-bottom-auto {
  margin-bottom: auto;
}

.m-x-auto {
  margin-right: auto;
  margin-left: auto;
}

.m-y-auto {
  margin-top: auto;
  margin-bottom: auto;
}