.bg-gradient {
  background: linear-gradient(45deg, #ff61d3 10%, #b318ff 40%, #b318ff 60%, #00f0ff 90%);
}

.gradient-text {
  background-color: #000;
  background: linear-gradient(45deg, #ff61d3 10%, #b318ff 40%, #b318ff 60%, #00f0ff 90%);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.bg-gradient-blue-to-purple {
  background: linear-gradient(45deg, #6A8BFF, #5300BC);
}

.gradient-text-blue-to-purple {
  background-color: #000;
  background: linear-gradient(45deg, #6A8BFF, #5300BC);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.bg-gradient-orange-to-red {
  background: linear-gradient(45deg, #FF0000, #FFC700);
}

.gradient-text-orange-to-red {
  background-color: #000;
  background: linear-gradient(45deg, #FF0000, #FFC700);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.bg-gradient-pink-to-red {
  background: linear-gradient(45deg, #FF2727, #FF7B8F);
}

.gradient-text-pink-to-red {
  background-color: #000;
  background: linear-gradient(45deg, #FF2727, #FF7B8F);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.text-color-white {
  color: white !important;
}

.bg-color-white {
  background-color: white !important;
}

.border-color-white {
  border-color: white !important;
}

.fill-color-white {
  fill: white !important;
}

.color-blue-100 {
  color: rgba(24, 75, 255, 0.1) !important;
}

.bg-color-blue-100 {
  background-color: rgba(24, 75, 255, 0.1) !important;
}

.border-color-blue-100 {
  border-color: rgba(24, 75, 255, 0.1) !important;
}

.fill-color-blue-100 {
  fill: rgba(24, 75, 255, 0.1) !important;
}

.color-blue-200 {
  color: rgba(24, 75, 255, 0.2) !important;
}

.bg-color-blue-200 {
  background-color: rgba(24, 75, 255, 0.2) !important;
}

.border-color-blue-200 {
  border-color: rgba(24, 75, 255, 0.2) !important;
}

.fill-color-blue-200 {
  fill: rgba(24, 75, 255, 0.2) !important;
}

.color-blue-300 {
  color: rgba(24, 75, 255, 0.3) !important;
}

.bg-color-blue-300 {
  background-color: rgba(24, 75, 255, 0.3) !important;
}

.border-color-blue-300 {
  border-color: rgba(24, 75, 255, 0.3) !important;
}

.fill-color-blue-300 {
  fill: rgba(24, 75, 255, 0.3) !important;
}

.color-blue-400 {
  color: rgba(24, 75, 255, 0.4) !important;
}

.bg-color-blue-400 {
  background-color: rgba(24, 75, 255, 0.4) !important;
}

.border-color-blue-400 {
  border-color: rgba(24, 75, 255, 0.4) !important;
}

.fill-color-blue-400 {
  fill: rgba(24, 75, 255, 0.4) !important;
}

.color-blue-500 {
  color: rgba(24, 75, 255, 0.5) !important;
}

.bg-color-blue-500 {
  background-color: rgba(24, 75, 255, 0.5) !important;
}

.border-color-blue-500 {
  border-color: rgba(24, 75, 255, 0.5) !important;
}

.fill-color-blue-500 {
  fill: rgba(24, 75, 255, 0.5) !important;
}

.color-blue-600 {
  color: rgba(24, 75, 255, 0.6) !important;
}

.bg-color-blue-600 {
  background-color: rgba(24, 75, 255, 0.6) !important;
}

.border-color-blue-600 {
  border-color: rgba(24, 75, 255, 0.6) !important;
}

.fill-color-blue-600 {
  fill: rgba(24, 75, 255, 0.6) !important;
}

.color-blue-700 {
  color: rgba(24, 75, 255, 0.7) !important;
}

.bg-color-blue-700 {
  background-color: rgba(24, 75, 255, 0.7) !important;
}

.border-color-blue-700 {
  border-color: rgba(24, 75, 255, 0.7) !important;
}

.fill-color-blue-700 {
  fill: rgba(24, 75, 255, 0.7) !important;
}

.color-blue-800 {
  color: rgba(24, 75, 255, 0.8) !important;
}

.bg-color-blue-800 {
  background-color: rgba(24, 75, 255, 0.8) !important;
}

.border-color-blue-800 {
  border-color: rgba(24, 75, 255, 0.8) !important;
}

.fill-color-blue-800 {
  fill: rgba(24, 75, 255, 0.8) !important;
}

.color-blue-900 {
  color: rgba(24, 75, 255, 0.9) !important;
}

.bg-color-blue-900 {
  background-color: rgba(24, 75, 255, 0.9) !important;
}

.border-color-blue-900 {
  border-color: rgba(24, 75, 255, 0.9) !important;
}

.fill-color-blue-900 {
  fill: rgba(24, 75, 255, 0.9) !important;
}

.color-purple-100 {
  color: rgba(125, 26, 255, 0.1) !important;
}

.bg-color-purple-100 {
  background-color: rgba(125, 26, 255, 0.1) !important;
}

.border-color-purple-100 {
  border-color: rgba(125, 26, 255, 0.1) !important;
}

.fill-color-purple-100 {
  fill: rgba(125, 26, 255, 0.1) !important;
}

.color-purple-200 {
  color: rgba(125, 26, 255, 0.2) !important;
}

.bg-color-purple-200 {
  background-color: rgba(125, 26, 255, 0.2) !important;
}

.border-color-purple-200 {
  border-color: rgba(125, 26, 255, 0.2) !important;
}

.fill-color-purple-200 {
  fill: rgba(125, 26, 255, 0.2) !important;
}

.color-purple-300 {
  color: rgba(125, 26, 255, 0.3) !important;
}

.bg-color-purple-300 {
  background-color: rgba(125, 26, 255, 0.3) !important;
}

.border-color-purple-300 {
  border-color: rgba(125, 26, 255, 0.3) !important;
}

.fill-color-purple-300 {
  fill: rgba(125, 26, 255, 0.3) !important;
}

.color-purple-400 {
  color: rgba(125, 26, 255, 0.4) !important;
}

.bg-color-purple-400 {
  background-color: rgba(125, 26, 255, 0.4) !important;
}

.border-color-purple-400 {
  border-color: rgba(125, 26, 255, 0.4) !important;
}

.fill-color-purple-400 {
  fill: rgba(125, 26, 255, 0.4) !important;
}

.color-purple-500 {
  color: rgba(125, 26, 255, 0.5) !important;
}

.bg-color-purple-500 {
  background-color: rgba(125, 26, 255, 0.5) !important;
}

.border-color-purple-500 {
  border-color: rgba(125, 26, 255, 0.5) !important;
}

.fill-color-purple-500 {
  fill: rgba(125, 26, 255, 0.5) !important;
}

.color-purple-600 {
  color: rgba(125, 26, 255, 0.6) !important;
}

.bg-color-purple-600 {
  background-color: rgba(125, 26, 255, 0.6) !important;
}

.border-color-purple-600 {
  border-color: rgba(125, 26, 255, 0.6) !important;
}

.fill-color-purple-600 {
  fill: rgba(125, 26, 255, 0.6) !important;
}

.color-purple-700 {
  color: rgba(125, 26, 255, 0.7) !important;
}

.bg-color-purple-700 {
  background-color: rgba(125, 26, 255, 0.7) !important;
}

.border-color-purple-700 {
  border-color: rgba(125, 26, 255, 0.7) !important;
}

.fill-color-purple-700 {
  fill: rgba(125, 26, 255, 0.7) !important;
}

.color-purple-800 {
  color: rgba(125, 26, 255, 0.8) !important;
}

.bg-color-purple-800 {
  background-color: rgba(125, 26, 255, 0.8) !important;
}

.border-color-purple-800 {
  border-color: rgba(125, 26, 255, 0.8) !important;
}

.fill-color-purple-800 {
  fill: rgba(125, 26, 255, 0.8) !important;
}

.color-purple-900 {
  color: rgba(125, 26, 255, 0.9) !important;
}

.bg-color-purple-900 {
  background-color: rgba(125, 26, 255, 0.9) !important;
}

.border-color-purple-900 {
  border-color: rgba(125, 26, 255, 0.9) !important;
}

.fill-color-purple-900 {
  fill: rgba(125, 26, 255, 0.9) !important;
}

.color-red-100 {
  color: rgba(192, 0, 0, 0.1) !important;
}

.bg-color-red-100 {
  background-color: rgba(192, 0, 0, 0.1) !important;
}

.border-color-red-100 {
  border-color: rgba(192, 0, 0, 0.1) !important;
}

.fill-color-red-100 {
  fill: rgba(192, 0, 0, 0.1) !important;
}

.color-red-200 {
  color: rgba(192, 0, 0, 0.2) !important;
}

.bg-color-red-200 {
  background-color: rgba(192, 0, 0, 0.2) !important;
}

.border-color-red-200 {
  border-color: rgba(192, 0, 0, 0.2) !important;
}

.fill-color-red-200 {
  fill: rgba(192, 0, 0, 0.2) !important;
}

.color-red-300 {
  color: rgba(192, 0, 0, 0.3) !important;
}

.bg-color-red-300 {
  background-color: rgba(192, 0, 0, 0.3) !important;
}

.border-color-red-300 {
  border-color: rgba(192, 0, 0, 0.3) !important;
}

.fill-color-red-300 {
  fill: rgba(192, 0, 0, 0.3) !important;
}

.color-red-400 {
  color: rgba(192, 0, 0, 0.4) !important;
}

.bg-color-red-400 {
  background-color: rgba(192, 0, 0, 0.4) !important;
}

.border-color-red-400 {
  border-color: rgba(192, 0, 0, 0.4) !important;
}

.fill-color-red-400 {
  fill: rgba(192, 0, 0, 0.4) !important;
}

.color-red-500 {
  color: rgba(192, 0, 0, 0.5) !important;
}

.bg-color-red-500 {
  background-color: rgba(192, 0, 0, 0.5) !important;
}

.border-color-red-500 {
  border-color: rgba(192, 0, 0, 0.5) !important;
}

.fill-color-red-500 {
  fill: rgba(192, 0, 0, 0.5) !important;
}

.color-red-600 {
  color: rgba(192, 0, 0, 0.6) !important;
}

.bg-color-red-600 {
  background-color: rgba(192, 0, 0, 0.6) !important;
}

.border-color-red-600 {
  border-color: rgba(192, 0, 0, 0.6) !important;
}

.fill-color-red-600 {
  fill: rgba(192, 0, 0, 0.6) !important;
}

.color-red-700 {
  color: rgba(192, 0, 0, 0.7) !important;
}

.bg-color-red-700 {
  background-color: rgba(192, 0, 0, 0.7) !important;
}

.border-color-red-700 {
  border-color: rgba(192, 0, 0, 0.7) !important;
}

.fill-color-red-700 {
  fill: rgba(192, 0, 0, 0.7) !important;
}

.color-red-800 {
  color: rgba(192, 0, 0, 0.8) !important;
}

.bg-color-red-800 {
  background-color: rgba(192, 0, 0, 0.8) !important;
}

.border-color-red-800 {
  border-color: rgba(192, 0, 0, 0.8) !important;
}

.fill-color-red-800 {
  fill: rgba(192, 0, 0, 0.8) !important;
}

.color-red-900 {
  color: rgba(192, 0, 0, 0.9) !important;
}

.bg-color-red-900 {
  background-color: rgba(192, 0, 0, 0.9) !important;
}

.border-color-red-900 {
  border-color: rgba(192, 0, 0, 0.9) !important;
}

.fill-color-red-900 {
  fill: rgba(192, 0, 0, 0.9) !important;
}

.color-yellow-100 {
  color: rgba(255, 220, 34, 0.1) !important;
}

.color-yellow-200 {
  color: rgba(255, 220, 34, 0.2) !important;
}

.color-yellow-300 {
  color: rgba(255, 220, 34, 0.3) !important;
}

.color-yellow-400 {
  color: rgba(255, 220, 34, 0.4) !important;
}

.color-yellow-500 {
  color: rgba(255, 220, 34, 0.5) !important;
}

.color-yellow-600 {
  color: rgba(255, 220, 34, 0.6) !important;
}

.color-yellow-700 {
  color: rgba(255, 220, 34, 0.7) !important;
}

.color-yellow-800 {
  color: rgba(255, 220, 34, 0.8) !important;
}

.color-yellow-900 {
  color: rgba(255, 220, 34, 0.9) !important;
}

.color-green-100 {
  color: rgba(0, 151, 88, 0.1) !important;
}

.bg-color-green-100 {
  background-color: rgba(0, 151, 88, 0.1) !important;
}

.border-color-green-100 {
  border-color: rgba(0, 151, 88, 0.1) !important;
}

.fill-color-green-100 {
  fill: rgba(0, 151, 88, 0.1) !important;
}

.color-green-200 {
  color: rgba(0, 151, 88, 0.2) !important;
}

.bg-color-green-200 {
  background-color: rgba(0, 151, 88, 0.2) !important;
}

.border-color-green-200 {
  border-color: rgba(0, 151, 88, 0.2) !important;
}

.fill-color-green-200 {
  fill: rgba(0, 151, 88, 0.2) !important;
}

.color-green-300 {
  color: rgba(0, 151, 88, 0.3) !important;
}

.bg-color-green-300 {
  background-color: rgba(0, 151, 88, 0.3) !important;
}

.border-color-green-300 {
  border-color: rgba(0, 151, 88, 0.3) !important;
}

.fill-color-green-300 {
  fill: rgba(0, 151, 88, 0.3) !important;
}

.color-green-400 {
  color: rgba(0, 151, 88, 0.4) !important;
}

.bg-color-green-400 {
  background-color: rgba(0, 151, 88, 0.4) !important;
}

.border-color-green-400 {
  border-color: rgba(0, 151, 88, 0.4) !important;
}

.fill-color-green-400 {
  fill: rgba(0, 151, 88, 0.4) !important;
}

.color-green-500 {
  color: rgba(0, 151, 88, 0.5) !important;
}

.bg-color-green-500 {
  background-color: rgba(0, 151, 88, 0.5) !important;
}

.border-color-green-500 {
  border-color: rgba(0, 151, 88, 0.5) !important;
}

.fill-color-green-500 {
  fill: rgba(0, 151, 88, 0.5) !important;
}

.color-green-600 {
  color: rgba(0, 151, 88, 0.6) !important;
}

.bg-color-green-600 {
  background-color: rgba(0, 151, 88, 0.6) !important;
}

.border-color-green-600 {
  border-color: rgba(0, 151, 88, 0.6) !important;
}

.fill-color-green-600 {
  fill: rgba(0, 151, 88, 0.6) !important;
}

.color-green-700 {
  color: rgba(0, 151, 88, 0.7) !important;
}

.bg-color-green-700 {
  background-color: rgba(0, 151, 88, 0.7) !important;
}

.border-color-green-700 {
  border-color: rgba(0, 151, 88, 0.7) !important;
}

.fill-color-green-700 {
  fill: rgba(0, 151, 88, 0.7) !important;
}

.color-green-800 {
  color: rgba(0, 151, 88, 0.8) !important;
}

.bg-color-green-800 {
  background-color: rgba(0, 151, 88, 0.8) !important;
}

.border-color-green-800 {
  border-color: rgba(0, 151, 88, 0.8) !important;
}

.fill-color-green-800 {
  fill: rgba(0, 151, 88, 0.8) !important;
}

.color-green-900 {
  color: rgba(0, 151, 88, 0.9) !important;
}

.bg-color-green-900 {
  background-color: rgba(0, 151, 88, 0.9) !important;
}

.border-color-green-900 {
  border-color: rgba(0, 151, 88, 0.9) !important;
}

.fill-color-green-900 {
  fill: rgba(0, 151, 88, 0.9) !important;
}

.neutral-gray-100 {
  color: rgba(41, 41, 41, 0.1) !important;
}

.bg-neutral-gray-100 {
  background-color: rgba(41, 41, 41, 0.1) !important;
}

.border-neutral-gray-100 {
  border-color: rgba(41, 41, 41, 0.1) !important;
}

.fill-neutral-gray-100 {
  fill: rgba(41, 41, 41, 0.1) !important;
}

.neutral-gray-200 {
  color: rgba(41, 41, 41, 0.2) !important;
}

.bg-neutral-gray-200 {
  background-color: rgba(41, 41, 41, 0.2) !important;
}

.border-neutral-gray-200 {
  border-color: rgba(41, 41, 41, 0.2) !important;
}

.fill-neutral-gray-200 {
  fill: rgba(41, 41, 41, 0.2) !important;
}

.neutral-gray-300 {
  color: rgba(41, 41, 41, 0.3) !important;
}

.bg-neutral-gray-300 {
  background-color: rgba(41, 41, 41, 0.3) !important;
}

.border-neutral-gray-300 {
  border-color: rgba(41, 41, 41, 0.3) !important;
}

.fill-neutral-gray-300 {
  fill: rgba(41, 41, 41, 0.3) !important;
}

.neutral-gray-400 {
  color: rgba(41, 41, 41, 0.4) !important;
}

.bg-neutral-gray-400 {
  background-color: rgba(41, 41, 41, 0.4) !important;
}

.border-neutral-gray-400 {
  border-color: rgba(41, 41, 41, 0.4) !important;
}

.fill-neutral-gray-400 {
  fill: rgba(41, 41, 41, 0.4) !important;
}

.neutral-gray-500 {
  color: rgba(41, 41, 41, 0.5) !important;
}

.bg-neutral-gray-500 {
  background-color: rgba(41, 41, 41, 0.5) !important;
}

.border-neutral-gray-500 {
  border-color: rgba(41, 41, 41, 0.5) !important;
}

.fill-neutral-gray-500 {
  fill: rgba(41, 41, 41, 0.5) !important;
}

.neutral-gray-600 {
  color: rgba(41, 41, 41, 0.6) !important;
}

.bg-neutral-gray-600 {
  background-color: rgba(41, 41, 41, 0.6) !important;
}

.border-neutral-gray-600 {
  border-color: rgba(41, 41, 41, 0.6) !important;
}

.fill-neutral-gray-600 {
  fill: rgba(41, 41, 41, 0.6) !important;
}

.neutral-gray-700 {
  color: rgba(41, 41, 41, 0.7) !important;
}

.bg-neutral-gray-700 {
  background-color: rgba(41, 41, 41, 0.7) !important;
}

.border-neutral-gray-700 {
  border-color: rgba(41, 41, 41, 0.7) !important;
}

.fill-neutral-gray-700 {
  fill: rgba(41, 41, 41, 0.7) !important;
}

.neutral-gray-800 {
  color: rgba(41, 41, 41, 0.8) !important;
}

.bg-neutral-gray-800 {
  background-color: rgba(41, 41, 41, 0.8) !important;
}

.border-neutral-gray-800 {
  border-color: rgba(41, 41, 41, 0.8) !important;
}

.fill-neutral-gray-800 {
  fill: rgba(41, 41, 41, 0.8) !important;
}

.neutral-gray-900 {
  color: rgba(41, 41, 41, 0.9) !important;
}

.bg-neutral-gray-900 {
  background-color: rgba(41, 41, 41, 0.9) !important;
}

.border-neutral-gray-900 {
  border-color: rgba(41, 41, 41, 0.9) !important;
}

.fill-neutral-gray-900 {
  fill: rgba(41, 41, 41, 0.9) !important;
}

:root {
  --white: white;
  --gradient: linear-gradient(45deg, #ff61d3 10%, #b318ff 40%, #b318ff 60%, #00f0ff 90%);
  --gradient-purple-to-blue: linear-gradient(45deg, #6A8BFF, #5300BC);
  --gradient-orange-to-red: linear-gradient(45deg, #FF0000, #FFC700);
  --gradient-pink-to-red: linear-gradient(45deg, #FF2727, #FF7B8F);
  --color-blue: 24, 75, 255;
  --color-purple: 125, 26, 255;
  --color-red: 192, 0, 0;
  --color-yellow: 255, 220, 34;
  --color-green: 0, 151, 88;
  --neutral-gray: 41, 41, 41;
  --color-blue-100: rgba(var(--color-blue), 10%);
  --color-purple-100: rgba(var(--color-purple), 10%);
  --color-red-100: rgba(var(--color-red), 10%);
  --color-yellow-100: rgba(var(--color-yellow), 10%);
  --color-green-100: rgba(var(--color-green), 10%);
  --neutral-gray-100: rgba(var(--neutral-gray), 10%);
  --color-blue-200: rgba(var(--color-blue), 20%);
  --color-purple-200: rgba(var(--color-purple), 20%);
  --color-red-200: rgba(var(--color-red), 20%);
  --color-yellow-200: rgba(var(--color-yellow), 20%);
  --color-green-200: rgba(var(--color-green), 20%);
  --neutral-gray-200: rgba(var(--neutral-gray), 20%);
  --color-blue-300: rgba(var(--color-blue), 30%);
  --color-purple-300: rgba(var(--color-purple), 30%);
  --color-red-300: rgba(var(--color-red), 30%);
  --color-yellow-300: rgba(var(--color-yellow), 30%);
  --color-green-300: rgba(var(--color-green), 30%);
  --neutral-gray-300: rgba(var(--neutral-gray), 30%);
  --color-blue-400: rgba(var(--color-blue), 40%);
  --color-purple-400: rgba(var(--color-purple), 40%);
  --color-red-400: rgba(var(--color-red), 40%);
  --color-yellow-400: rgba(var(--color-yellow), 40%);
  --color-green-400: rgba(var(--color-green), 40%);
  --neutral-gray-400: rgba(var(--neutral-gray), 40%);
  --color-blue-500: rgba(var(--color-blue), 50%);
  --color-purple-500: rgba(var(--color-purple), 50%);
  --color-red-500: rgba(var(--color-red), 50%);
  --color-yellow-500: rgba(var(--color-yellow), 50%);
  --color-green-500: rgba(var(--color-green), 50%);
  --neutral-gray-500: rgba(var(--neutral-gray), 50%);
  --color-blue-600: rgba(var(--color-blue), 60%);
  --color-purple-600: rgba(var(--color-purple), 60%);
  --color-red-600: rgba(var(--color-red), 60%);
  --color-yellow-600: rgba(var(--color-yellow), 60%);
  --color-green-600: rgba(var(--color-green), 60%);
  --neutral-gray-600: rgba(var(--neutral-gray), 60%);
  --color-blue-700: rgba(var(--color-blue), 70%);
  --color-purple-700: rgba(var(--color-purple), 70%);
  --color-red-700: rgba(var(--color-red), 70%);
  --color-yellow-700: rgba(var(--color-yellow), 70%);
  --color-green-700: rgba(var(--color-green), 70%);
  --neutral-gray-700: rgba(var(--neutral-gray), 70%);
  --color-blue-800: rgba(var(--color-blue), 80%);
  --color-purple-800: rgba(var(--color-purple), 80%);
  --color-red-800: rgba(var(--color-red), 80%);
  --color-yellow-800: rgba(var(--color-yellow), 80%);
  --color-green-800: rgba(var(--color-green), 80%);
  --neutral-gray-800: rgba(var(--neutral-gray), 80%);
  --color-blue-900: rgba(var(--color-blue), 90%);
  --color-purple-900: rgba(var(--color-purple), 90%);
  --color-red-900: rgba(var(--color-red), 90%);
  --color-yellow-900: rgba(var(--color-yellow), 90%);
  --color-green-900: rgba(var(--color-green), 90%);
  --neutral-gray-900: rgba(var(--neutral-gray), 90%);
}
/*# sourceMappingURL=colors.css.map */