
// input defaults
input {
  font-family: inherit;
  font-size: inherit;
  font-weight: 500;
  transition: all 0.180s ease-in-out;
}

// input sizes
$input-sizes: (
  "default": 12px 24px,
  "medium": 16px 32px,
  "large": 20px 40px
);

@each $input-size, $size in $input-sizes {
  .input-#{$input-size} {
    padding: $size !important;
  }
}

:root {
  @each $input-size, $size in $input-sizes {
    --input-size-#{$input-size}: #{$size};
  }
}

// input variants
input[type=text], input[type=password],
input[type=date], input[type=datetime-local],
input[type=email], input[type=number],
input[type=image], input[type=month],
input[type=tel], input[type=url],
input[type=week], input[type=file] {
  border-radius: var(--border-radius);
  padding: var(--input-size-default);
  border: var(--border-light);
  color: var(--neutral-gray-900);
  font-family: inherit;
  border-color: var(--neutral-gray-500);
  &::placeholder {
    color: var(--neutral-gray-500);
  }
  &:hover {
    background-color: var(--color-blue-100);
    border-color: var(--color-blue-500);
  }
  &:focus {
    outline: none !important;
    box-shadow: var(--focus-shadow);
    border-color: var(--color-blue-500);
  }
}

input[type=color] {
  border-radius: var(--border-radius);
  width: 72px;
  padding-right: 0.4em;
  background: rgba($color: #000000, $alpha: 0.0);
  padding-left: 0.4em;
  border: var(--border-light);
  border-color: var(--neutral-gray-500);
  &::placeholder {
    color: var(--neutral-gray-500);
  }
  &:hover {
    background-color: var(--color-blue-100);
    border-color: var(--color-blue-500);
  }
  &:focus {
    outline: none !important;
    box-shadow: var(--focus-shadow);
    border-color: var(--color-blue-500);
  }
}

.input-wrapper-control {
  border-radius: var(--border-radius);
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-direction: row;
  width: fit-content;
  > .input-start-icon {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    z-index: 0;
  }
  > .input-end-icon {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  > input {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-radius: 0;
  }
}