input {
  font-family: inherit;
  font-size: inherit;
  font-weight: 500;
  -webkit-transition: all 0.180s ease-in-out;
  transition: all 0.180s ease-in-out;
}

.input-default {
  padding: 12px 24px !important;
}

.input-medium {
  padding: 16px 32px !important;
}

.input-large {
  padding: 20px 40px !important;
}

:root {
  --input-size-default: 12px 24px;
  --input-size-medium: 16px 32px;
  --input-size-large: 20px 40px;
}

input[type=text], input[type=password],
input[type=date], input[type=datetime-local],
input[type=email], input[type=number],
input[type=image], input[type=month],
input[type=tel], input[type=url],
input[type=week], input[type=file] {
  border-radius: var(--border-radius);
  padding: var(--input-size-default);
  border: var(--border-light);
  color: var(--neutral-gray-900);
  font-family: inherit;
  border-color: var(--neutral-gray-500);
}

input[type=text]::-webkit-input-placeholder, input[type=password]::-webkit-input-placeholder,
input[type=date]::-webkit-input-placeholder, input[type=datetime-local]::-webkit-input-placeholder,
input[type=email]::-webkit-input-placeholder, input[type=number]::-webkit-input-placeholder,
input[type=image]::-webkit-input-placeholder, input[type=month]::-webkit-input-placeholder,
input[type=tel]::-webkit-input-placeholder, input[type=url]::-webkit-input-placeholder,
input[type=week]::-webkit-input-placeholder, input[type=file]::-webkit-input-placeholder {
  color: var(--neutral-gray-500);
}

input[type=text]:-ms-input-placeholder, input[type=password]:-ms-input-placeholder,
input[type=date]:-ms-input-placeholder, input[type=datetime-local]:-ms-input-placeholder,
input[type=email]:-ms-input-placeholder, input[type=number]:-ms-input-placeholder,
input[type=image]:-ms-input-placeholder, input[type=month]:-ms-input-placeholder,
input[type=tel]:-ms-input-placeholder, input[type=url]:-ms-input-placeholder,
input[type=week]:-ms-input-placeholder, input[type=file]:-ms-input-placeholder {
  color: var(--neutral-gray-500);
}

input[type=text]::-ms-input-placeholder, input[type=password]::-ms-input-placeholder,
input[type=date]::-ms-input-placeholder, input[type=datetime-local]::-ms-input-placeholder,
input[type=email]::-ms-input-placeholder, input[type=number]::-ms-input-placeholder,
input[type=image]::-ms-input-placeholder, input[type=month]::-ms-input-placeholder,
input[type=tel]::-ms-input-placeholder, input[type=url]::-ms-input-placeholder,
input[type=week]::-ms-input-placeholder, input[type=file]::-ms-input-placeholder {
  color: var(--neutral-gray-500);
}

input[type=text]::placeholder, input[type=password]::placeholder,
input[type=date]::placeholder, input[type=datetime-local]::placeholder,
input[type=email]::placeholder, input[type=number]::placeholder,
input[type=image]::placeholder, input[type=month]::placeholder,
input[type=tel]::placeholder, input[type=url]::placeholder,
input[type=week]::placeholder, input[type=file]::placeholder {
  color: var(--neutral-gray-500);
}

input[type=text]:hover, input[type=password]:hover,
input[type=date]:hover, input[type=datetime-local]:hover,
input[type=email]:hover, input[type=number]:hover,
input[type=image]:hover, input[type=month]:hover,
input[type=tel]:hover, input[type=url]:hover,
input[type=week]:hover, input[type=file]:hover {
  background-color: var(--color-blue-100);
  border-color: var(--color-blue-500);
}

input[type=text]:focus, input[type=password]:focus,
input[type=date]:focus, input[type=datetime-local]:focus,
input[type=email]:focus, input[type=number]:focus,
input[type=image]:focus, input[type=month]:focus,
input[type=tel]:focus, input[type=url]:focus,
input[type=week]:focus, input[type=file]:focus {
  outline: none !important;
  -webkit-box-shadow: var(--focus-shadow);
          box-shadow: var(--focus-shadow);
  border-color: var(--color-blue-500);
}
/*# sourceMappingURL=input.css.map */