@import url('./eccentrictouch-core/index.css');
/* @import url('./eccentrictouch-vendors/'); */
@import url('./eccentrictouch-widgets/index.css');

/* reseter */
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--base-font-family__not-default);
  color: var(--base-text-color__not-default);
}

body:focus {
  outline: none;
}

:root {
  --base-text-color__not-default: rgba(41, 41, 41, 0.9);
  --base-font-family__not-default: 'Inter', sans-serif;
}