name: CSS Minifier

on: [push]

jobs:
  minify:
    runs-on: ubuntu-18.04

    steps:
    - uses: actions/checkout@v2
    - name: Minify CSS
      uses: ./
      with:
        folder: './'
      
    - name: Print out test file.
      run: |
        cat test.min.css